{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
{% endblock head_extra %}

{% block content %}
  {% include "reviews/review_header.html" with active_menu="review" %}
  <section class="clearfix">
    <h2>Authors</h2>
    {% if user.id == review.author.id %}
      <button type="button" class="btn btn-small add-author">Add Author</button>
    {% endif %}
    <ul class="authors">
      <li author=id="{{ review.author.id }}">
        <a href="/{{ review.author.username }}/">{{ review.author.profile.get_screen_name }}</a>
        <span class="main-author-label">(main author)</span>
      </li>
      {% for author in review.co_authors.all %}
        <li author-id="{{ author.id }}">
          <a href="/{{ author.username }}/">{{ author.profile.get_screen_name }}</a>
          {% if user.id == review.author.id %}
            <button type="button" class="btn btn-small btn-link remove-author text-error">(remove)</button>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
  <hr>
  <section class="clearfix">
    <h2>Description</h2>
    <form method="post" action="." class="form-block" id="form-description">
      {% csrf_token %}
      <input type="hidden" name="review-id" value="{{ review.id }}">
      <div class="form-row form-normal">
        <textarea rows="5" name="description">{{ review.description }}</textarea>
      </div>
      <div class="form-row">
        <button type="button" class="btn btn-success pull-left" id="btn-save-objective">Save</button>
        <span class="form-status-message pull-left"></span>
      </div>
    </form>
  </section>
{% endblock content %}