{% extends 'base_app.html' %}

{% block title %}Parsifal - {{ page_user.profile.get_screen_name }}{% endblock %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/reviews.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/activities.js"></script>
{% endblock head_extra %}

{% block content %}
  <div class="clearfix">
    <div class="profile">
      <div class="picture">
        <img src="{{ STATIC_URL }}img/user.png" width="200px" height="200px">
      </div>
      <ul>
        {% if page_user.get_full_name %}
          <li class="full-name">{{ page_user.get_full_name }}</li>
        {% endif %}
        <li class="username">{{ page_user.username }} {% if page_user.is_staff %}<span class="label">STAFF</span>{% endif %}</li>
        <li><a href="mailto:{{ page_user.email }}">{{ page_user.email }}</a></li>
        {% if page_user.profile.url %}
          <li><a href="{{ page_user.profile.url }}">{{ page_user.profile.url }}</a></li>
        {% endif %}
        <li class="divider"></li>
        {% if page_user.profile.location %}
          <li>{{ page_user.profile.location }}</li>
        {% endif %}
        {% if page_user.profile.institution %}
          <li>{{ page_user.profile.institution }}</li>
        {% endif %}
        <li>Joined on {{ page_user.date_joined|date:"d M Y" }}</li>
        <li class="divider"></li>
      </ul>
      <div class="stats">
        <div>
          <a href="/{{ page_user.username }}/following/">
            <h3>Following</h3>
            <span class="following-count">{{ following_count }}</span>
          </a>
        </div>
        <div>
          <a href="/{{ page_user.username }}/">
            <h3>Reviews</h3>
            <span>{{ user_reviews.count }}</span>
          </a>
        </div>
        <div>
          <a href="/{{ page_user.username }}/followers/">
            <h3>Followers</h3>
            <span class="followers-count">{{ followers_count }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="reviews">
      {% if user.is_authenticated %}
        {% if user.id == page_user.id %}
          <div class="clearfix">
            <a href="/reviews/new/" class="btn btn-success pull-right">New review</a>
          </div>
        {% else %}
          {% if is_following %}
            <div class="user-actions following update-count" data-user-id="{{ page_user.id }}">
              <button class="btn btn-warning" type="button">Unfollow</button>
            </div>
          {% else %}
            <div class="user-actions not-following update-count" data-user-id="{{ page_user.id }}">
              <button class="btn btn-success" type="button">Follow</button>
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
      <div class="review-list">
        <h2>Published Reviews</h2>
        <table class="table no-data">
          <tbody>
            <tr>
              <td>
                {% if user.id == page_user.id %}
                  You  
                {% else %}
                  {{ page_user.profile.get_screen_name }}
                {% endif %}
                haven't published any systematic literature review yet.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% if user.id == page_user.id %}
        <div class="review-list">
          <h2>Work in Progress</h2>
          {% if user_reviews %}
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Authors</th>
                  <th>Last update</th>
                </tr>
              </thead>
              <tbody>
                {% for review in user_reviews %}
                  <tr>
                    <td><a href="/{{ page_user.username }}/{{ review.name }}/">{{ review.title }}</a></td>
                    <td>
                      <a href="/{{ review.author.username }}/">{{ review.author.profile.get_screen_name }}</a>{% for author in review.co_authors.all %}, <a href="/{{ author.username }}/">{{ author.profile.get_screen_name }}</a>{% endfor %}
                    </td>
                    <td>{{ review.last_update|date:"D d M Y" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <table class="table no-data">
              <tbody>
                <tr>
                  <td>You don't have any systematic literature review yet.</td>
                </tr>
              </tbody>
            </table>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}