{% if user == review.author %}
  <a href="/{{ review.author.username }}/{{ review.name }}/settings/" class="btn pull-right">Review Settings</a>
{% endif %}
<h1>
  <a href="/{{ review.author.username }}/">{{ review.author.profile.get_screen_name }}</a> 
  <span class="text-muted" style="font-weight: normal;">/</span>
  <a href="/{{ review.author.username }}/{{ review.name }}/">{{ review.title }}</a>
</h1>
<ul class="review-menu">
  <li{% if active_menu == "review"%} class="active"{% endif %}><a href="/{{ review.author.username }}/{{ review.name }}/">Review</a></li>
  <li{% if active_menu == "planning"%} class="active"{% endif %}><a href="/{{ review.author.username }}/{{ review.name }}/planning/">Planning</a></li>
  <li{% if active_menu == "conducting"%} class="active"{% endif %}><a href="/{{ review.author.username }}/{{ review.name }}/conducting/">Conducting</a></li>
  <li{% if active_menu == "reporting"%} class="active"{% endif %}><a href="/{{ review.author.username }}/{{ review.name }}/reporting/">Reporting</a></li>
  <li{% if active_menu == "publish"%} class="active"{% endif %}><a href="/{{ review.author.username }}/{{ review.name }}/publish/">Publish</a></li>
</ul>
<input type="hidden" id="review-id" value="{{ review.id }}">