{% extends 'reporting/reporting.html' %}

{% block javascript %}
  <script>
    $(function () {
      $(".js-toggle-all").click(function () {
        var group = $(this).closest("[class$='-group']")
        if ($(this).attr("data-checked") === "true") {
          $(this).attr("data-checked", "false");
          $("input[type='checkbox']", group).prop("checked", false);
        }
        else {
          $(this).attr("data-checked", "true");
          $("input[type='checkbox']", group).prop("checked", true);
        }
      });

      $(".js-export-docx").click(function () {
        $(this).closest("form").submit();
      });
    });
  </script>
{% endblock %}

{% block tab_content %}

  {% include 'reporting/includes/header.html' with active_tab='export' %}

  <form method="get" action="{% url 'reviews:reporting:download_docx' %}">
    <input type="hidden" name="review-id" value="{{ review.pk }}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Download a Report</h3>
      </div>
      <div class="panel-body">
        <div class="row review-group">
          <div class="col-sm-12">
            <h4>Review <button type="button" class="btn btn-default btn-sm js-toggle-all" data-checked="true">Toggle all</button></h4>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="name"> Name</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="authors"> Authors</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="description"> Description</label></div>
          </div>
        </div>

        <hr>

        <div class="row planning-group">
          <div class="col-sm-12">
            <h4>Planning <button type="button" class="btn btn-default btn-sm js-toggle-all" data-checked="true">Toggle all</button></h4>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="objectives"> Objectives</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="picoc"> PICOC</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="research_questions"> Research Questions</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="keywords_synonyms"> Keywords and Synonyms</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="search_string"> Search String</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="sources"> Sources</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="selection_criteria"> Selection Criteria</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="quality_assessment_checklist"> Quality Assessment Checklist</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="data_extraction_form"> Data Extraction Form</label></div>
          </div>
        </div>

        <hr>

        <div class="row conducting-group">
          <div class="col-sm-12">
            <h4>Conducting <button type="button" class="btn btn-default btn-sm js-toggle-all" data-checked="true">Toggle all</button></h4>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="source_search_strings"> Source Search Strings</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="number_imported_studies"> Number of Imported Studies</label></div>
          </div>
          {% comment %}
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="quality_assessment"> Quality Assessment</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="data_extraction"> Data Extraction</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="data_analysis"> Data Analysis</label></div>
          </div>
          {% endcomment %}
        </div>
      </div>
      <div class="panel-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cloud-download"></span> Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" class="js-export-docx"><em>.docx</em></a></li>
          </ul>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
