<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Account settings</h3>
  </div>
  <div class="list-group">
    <a href="{% url 'settings:profile' %}" class="list-group-item">Profile</a>
    <a href="{% url 'settings:emails' %}" class="list-group-item">Emails</a>
    <a href="{% url 'settings:picture' %}" class="list-group-item">Picture</a>
    <a href="{% url 'settings:password' %}" class="list-group-item">Password</a>
    {% comment %}<a href="{% url 'settings:connections' %}" class="list-group-item">Connected services</a>{% endcomment %}
  </div>
</div>