{% extends "base.html" %}

{% load crispy_forms_filters i18n %}

{% block title %}{% trans "Password reset" %} · Parsifal{% endblock %}

{% block content %}
  {% if validlink %}
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans "Confirm password reset" %}</h3>
          </div>
          <div class="panel-body">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-success">{% trans "Change password" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <p class="lead text-danger">{% trans "Invalid password reset link." %}</p>
  {% endif %}
{% endblock content %}
