{% extends "base.html" %}

{% block title %}Parsifal{% endblock %}

{% load i18n %}

{% block content %}
  <h2 class="page-header">{% trans "Password reset initiated" %}</h2>
  <p class="lead">{% trans "An email has been sent to the given address. To continue the password reset process please follow the instructions in this email." %}</p>
  <p class="lead">
    {% blocktrans trimmed %}
      If you have any problem with the password reset, please contact us at <a href="mailto:support@parsif.al">support@parsif.al</a>.
    {% endblocktrans %}
  </p>
{% endblock content %}
