{% extends "base.html" %}

{% load crispy_forms_filters i18n %}

{% block title %}{% trans "Password reset" %} · Parsifal{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Password reset" %}</h3>
        </div>
        <div class="panel-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
