{% extends "base.html" %}

{% load crispy_forms_filters i18n %}

{% block title %}{% trans "Change Password" %} · Parsifal{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      {% include "accounts/menu.html" %}
    </div>
    <div class="col-md-9">
      <form method="post">
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans "Change password" %}</h3>
          </div>
          <div class="panel-body text-success">
            {% trans "Password changed with success!" %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
