{% extends "base.html" %}

{% load crispy_forms_filters i18n %}

{% block title %}{% trans "Sign up" %} · Parsifal{% endblock %}

{% block javascript %}
  {% if recaptcha_enabled %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
     function onSubmit(token) {
       document.getElementById("signUpForm").submit();
     }
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      {% if invite %}
        <div class="alert alert-info">
          <span class="glyphicon glyphicon-info-sign"></span>
          {% blocktrans trimmed with title=invite.review.title %}
            Complete the sign up to join the literature review "<strong>{{ title }}</strong>".
          {% endblocktrans %}
        </div>
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Sign up for Parsifal" %}</h3>
        </div>
        <div class="panel-body">
          <form method="post" id="signUpForm">
            {% csrf_token %}
            {{ form|crispy }}
            {% if recaptcha_enabled %}
              <button class="g-recaptcha btn btn-success" data-sitekey="{{ recaptcha_site_key }}" data-callback="onSubmit">{% trans "Create an account" %}</button>
            {% else %}
              <button type="submit" class="btn btn-success">{% trans "Create an account" %}</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
