{% extends "base.html" %}

{% load crispy_forms_filters i18n %}

{% block title %}{% trans "Sign up" %} · Parsifal{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Sign up for Parsifal" %}</h3>
        </div>
        <div class="panel-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">{% trans "Create an account" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
