<tr oid="{{ field.id }}">
  <td>{{ field.description }}</td>
  <td>{{ field.get_field_type_display }}</td>
  <td>
    {% if field.is_select_field %}
      <ul>
        {% for value in field.get_select_values %}
          <li>{{ value.value }}</li>
        {% endfor %}
      </ul>
    {% else %}
      n/a
    {% endif %}
  </td>
  <td style="width: 150px;">
    <button type="button" class="btn btn-warning btn-sm btn-edit-data-extraction-field">edit</button>
    <button type="button" class="btn btn-danger btn-sm btn-remove-data-extraction-field">remove</a>
  </td>
</tr>