<form method="post" action="{% url 'reviews:planning:new_keyword' %}">
  {% csrf_token %}
  <input type="hidden" name="review-id" value="{{ review.pk }}">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">New Keyword</h4>
    </div>
    <div class="modal-body">
      {% include 'form_vertical.html' with form=form %}
      {{ formset.management_form }}
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Synonyms</th>
            <th style="width: 45px;"></th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
            <tr>
              <td>{{ form.description }}</td>
              <td style="vertical-align: middle; text-align: center;">
                <a href="javascript:void(0);"><span class="glyphicon glyphicon-remove-sign"></span></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus"></span>
                Add synonym
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span>
        Save
      </button>
    </div>
  </div>
</form>
