{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/planning.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/planning.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/planning_question.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/planning_source.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/planning_keyword.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/planning_criteria.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/planning_data_extraction.js"></script>
{% endblock head_extra %}

{% block content %}
  {% include "reviews/review_header.html" with active_menu="planning" %}
  <section id="objective-section" class="clearfix">
    <h2>Objectives</h2>
    <form method="post" action="." class="form-block form-normal" id="form-objective">
      {% csrf_token %}
      <input type="hidden" name="review-id" value="{{ review.id }}">
      <div class="form-row">
        <textarea rows="5" name="objective">{{ review.objective }}</textarea>
      </div>
      <button type="button" class="btn btn-success pull-left btn-save-objective">Save</button>
      <span class="form-status-message pull-left"></span>
    </form>
  </section>
  <hr>
  <section id="question-section" class="clearfix">
    <h2>Questions</h2>
    <button type="button" class="btn btn-small" id="btn-add-sec-question">Add Secondary Question</button>
    <div class="questions-containers">
      {% include "planning/partial_planning_question.html" with prefix="main-" question_type="M" question=review.get_main_question %}
      {% for question in review.get_secondary_questions %}
        {% include "planning/partial_planning_question.html" with prefix=question.id question_type="S" question=question %}
      {% endfor %}
    </div>
  </section>
  <hr>
  <section id="keywords-section" class="clearfix">
    <h2>Keywords and Synonyms</h2>
    <p>To edit or remove a certain keyword or synonym you may click on it's description to enable the field.</p>
    <button type="button" class="btn btn-small" id="add-keyword">Add Keyword</button>
    <button type="button" class="btn btn-small" id="import-pico-keywords">Import PICO Keywods</button>
    <table class="table" id="tbl-keywords">
      <thead>
        <tr>
          <th style="width:200px">Keyword</th>
          <th>Synonyms</th>
          <th></th>
          <th class="no-border"></th>
        </tr>
      </thead>
      <tbody>
        {% for keyword in review.get_keywords %}
          <tr keyword-id="{{ keyword.id }}">
            <td class="keyword-row">{{ keyword.description }}</td>
            <td>
              <ul>
                {% for synonym in keyword.get_synonyms %}
                  <li synonym-id="{{ synonym.id }}">{{ synonym.description }}</li>
                {% endfor %}
              </ul>
              <input type="text" class="add-synonym" maxlength="200">
            </td>
            <td>
              <button type="button" class="btn btn-small btn-warning btn-remove-keyword">remove</button>
            </td>
            <td class="no-border"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <hr>
  <section id="sources-section" class="clearfix">
    <h2>Sources</h2>
    <div class="modal" id="modal-suggested-sources">
      <div class="modal-header">
        <a href="#" class="close close-modal">×</a>
        <h2>Suggested Sources</h2>
      </div>
      <div class="modal-body">
        <form action="." method="post" id="form-suggested-sources">
          {% csrf_token %}
          <input type="hidden" name="review-id" value="{{ review.id }}">
          <table class="table" id="tbl-suggested-sources">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" id="checkbox-all-sources">
                </th>
                <th>Name</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="btn-save-suggested-sources">Save</button>
        <button type="button" class="btn btn-warning close-modal">Cancel</button>
      </div>
    </div>
    <button type="button" class="btn btn-small" id="btn-add-source">Add Source</button>
    <button type="button" class="btn btn-link btn-small" style="margin-left: 8px;" id="btn-suggested-sources">(Suggested Sources)</button>
    <table class="table" id="tbl-sources">
      <thead>
        <tr>
          <th style="width: 200px">Name</th>
          <th style="width: 300px">URL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for source in review.sources.all %}
          <tr source-id="{{ source.id }}">
            <td>{{ source.name }}</td>
            <td>
              {% if source.url %}
                <a href="{{ source.url }}" target="_blank">{{ source.url }}</a>
              {% else %}
                {{ source.url }}
              {% endif %}
            </td>
            <td>
              <button type="button" class="btn btn-small btn-edit-source">edit</button>
              <button type="button" class="btn btn-warning btn-small btn-remove-source">remove</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <hr>
  <section id="selection-section" class="clearfix">
    <h2>Selection Criteria</h2>
    <p>Inform your inclusion or exclusion criteria and press <strong>Enter</strong> to add.</p>
    <div class="criteria-container-left">
      <h3>Inclusion Criteria:</h3>
      <input type="text" id="input-inclusion" maxlength="200">
      <select multiple="multiple" size="6" id="inclusion-criteria">
        {% for criteria in review.get_inclusion_criterias %}
          <option value="{{ criteria.id }}">{{ criteria.description }}</option>
        {% endfor %}
      </select>
      <button type="button" class="btn btn-warning btn-small btn-remove-criteria">remove selected</button>
    </div>
    <div class="criteria-container-right">
      <h3>Exclusion Criteria:</h3>
      <input type="text" id="input-exclusion" maxlength="200">
      <select multiple="multiple" size="6" id="exclusion-criteria">
        {% for criteria in review.get_exclusion_criterias %}
          <option value="{{ criteria.id }}">{{ criteria.description }}</option>
        {% endfor %}
      </select>
      <button type="button" class="btn btn-warning btn-small btn-remove-criteria">remove selected</button>
    </div>
  </section>
  <hr>
  <section id="quality-assessment-section" class="clearfix">
    <h2>Quality Assessment Checklist</h2>
    <p style="margin-bottom: 20px">The quality assessment checklist will generate a form with the given questions to assign the given answers.</p>

    <h3>Questions</h3>
    <button type="button" class="btn btn-small" id="btn-add-quality-question">Add Question</button>
    <table class="table" style="width: auto; margin-bottom: 30px">
      <thead>
        <tr>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Are the research aims clearly specified?</td>
          <td>
            <button type="button" class="btn btn-small btn-edit-quality-question">edit</button>
            <button type="button" class="btn btn-warning btn-small btn-quality-question">remove</button>
          </td>
        </tr>
          <td>Was the study designed to achieve these aims?</td>
          <td>
            <button type="button" class="btn btn-small btn-edit-quality-question">edit</button>
            <button type="button" class="btn btn-warning btn-small btn-quality-question">remove</button>
          </td>
        </tr>
        <tr>
          <td>Are the prediction techniques used clearly described and their selection justified?</td>
          <td>
            <button type="button" class="btn btn-small btn-edit-quality-question">edit</button>
            <button type="button" class="btn btn-warning btn-small btn-quality-question">remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Possible Answers</h3>
    <p>No idea how to fill? How about <strong>yes</strong> (1.0), <strong>partially</strong> (0.5) and <strong>no</strong> (0.0)? :) <button type="button" class="btn btn-small btn-link">(Add Suggested Answers)</button></p>
    <button type="button" class="btn btn-small" id="btn-add-quality-answer">Add Answer</button>
    <table class="table" style="width: auto;">
      <thead>
        <tr>
          <th>Description</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Yes</td>
          <td>1.0</td>
          <td>
            <button type="button" class="btn btn-small btn-edit-quality-answer">edit</button>
            <button type="button" class="btn btn-warning btn-small btn-quality-answer">remove</button>
          </td>
        </tr>
        <tr>
          <td>Partially</td>
          <td>0.5</td>
          <td>
            <button type="button" class="btn btn-small btn-edit-quality-answer">edit</button>
            <button type="button" class="btn btn-warning btn-small btn-quality-answer">remove</button>
          </td>
        </tr>
        <tr>
          <td>No</td>
          <td>0.0</td>
          <td>
            <button type="button" class="btn btn-small btn-edit-quality-answer">edit</button>
            <button type="button" class="btn btn-warning btn-small btn-quality-answer">remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <hr>
  <section id="data-extraction-section" class="clearfix">
    <h2>Data Extraction Form</h2>
    <button type="button" class="btn btn-small" id="btn-add-field">Add Field</button>
    <table class="table" id="tbl-data-extraction">
      <thead>
        <tr>
          <th style="width: 400px">Description</th>
          <th style="width: 200px">Type</th>
          <th style="width: 200px">Values</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for field in review.get_data_extraction_fields %}
          {% include "planning/partial_data_extraction_field.html" with field=field %}
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}