{% extends 'base.html' %}

{% load compress i18n static %}

{% block title %}{{ review.title }}{% endblock %}

{% block javascript %}
  {% compress js %}
    <script src="{% static 'js/review.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block content %}

  {% include "reviews/review_header.html" with active_menu="review" %}

  <div class="row">
    <div class="col-sm-7 col-md-8 col-lg-9">
      <form method="post">
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% translate "Review details" %}</h3>
          </div>
          <div class="panel-body">
            {% include 'form_vertical.html' with form=form %}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-ok"></span>
              {% translate "Save" %}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-5 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% translate "Authors" %}</h3>
        </div>
        <ul class="list-group authors" data-remove-url="{% url 'reviews:remove_author_from_review' %}">
          <li class="list-group-item" author-id="{{ review.author.id }}">
            <a href="/{{ review.author.username }}/">
              {{ review.author.profile.get_screen_name }}
            </a>
            <span class="badge">{% translate "main author" %}</span>
          </li>
          {% for author in review.co_authors.all %}
            <li  class="list-group-item" data-user-id="{{ author.id }}">
              <a href="{% url 'reviews' author.username %}">{{ author.profile.get_screen_name }}</a>
              {% if user.id == review.author.id %}
                <a href="javascript:void(0);" class="js-remove-author text-danger pull-right">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              {% elif user.id == author.id %}
                <form method="post" action="{% url 'reviews:leave' %}" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="review-id" value="{{ review.id }}">
                  <a href="javascript:void(0);" class="js-leave text-danger pull-right">{% translate "(leave)" %}</a>
                </form>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if user.id == review.author.id %}
          <div class="panel-footer">
            <a href="{% url "invites:manage_access" review.author.username review.name %}" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span>
              {% translate "Add author" %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}
