DEBUG=True
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
SECRET_KEY=s3cr3t
DATABASE_URL=sqlite:////tmp/db.sqlite3
ALLOWED_HOSTS=*
EMAIL_BACKEND=django.core.mail.backends.filebased.EmailBackend
EMAIL_HOST=email_host
EMAIL_PORT=587
EMAIL_HOST_USER=host_user
EMAIL_HOST_PASSWORD=s3cr3t
EMAIL_USE_TLS=True
MENDELEY_ID=1
MENDELEY_SECRET=s3cr3t
MENDELEY_REDIRECT_URI=http://localhost:8000/settings/connect_mendeley/
MAILCHIMP_API_KEY=12312313
DROPBOX_APP_KEY=app_key
DROPBOX_SECRET=s3cr3t
DROPBOX_REDIRECT_URI=http://localhost:8000/settings/connect_dropbox/
ELSEVIER_API_KEY=api_key