Django==2.2.24
Pillow==2.6.2
Unipath==1.1
bibtexparser==0.6.0
dj-database-url==0.3.0
django-extensions==1.5.5
requests==2.7.0
dropbox==2.2.0
mendeley==0.3.2
psycopg2==2.6
python-decouple==2.3
python-docx==0.8.5
pytz==2015.4
beautifulsoup4==4.3.2
xlwt==1.1.2