Django==1.8.2
Pillow==2.6.1
Unipath==1.1
arrow==0.5.0
bibtexparser==0.5.2
dj-database-url==0.3.0
django-extensions==1.5.5
future==0.14.3
gunicorn==19.3.0
memoized-property==1.0.2
mendeley==0.3.2
oauthlib==0.7.2
psycopg2==2.6
python-dateutil==2.4.2
python-decouple==2.3
pytz==2015.4
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
wsgiref==0.1.2
