{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/settings.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <div class="clearfix">
    {% include "settings/settings_menu.html" %}
    <div class="users-content">
      <h1>Edit Profile <span style="color:#999">({{ user.username }})</span></h1>
      <form action="." method="post" class="form-block">
        {% csrf_token %}
        <div class="form-row">
          <div class="label-container">
            <label for="first-name">First Name</label>
          </div>
          <div class="input-container">
            <input type="text" id="first-name" name="first-name" value="{{ user.first_name }}">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="last-name">Last Name</label>
          </div>
          <div class="input-container">
            <input type="text" id="last-name" name="last-name" value="{{ user.last_name }}">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="email">Email</label>
          </div>
          <div class="input-container">
            <input type="text" id="email" name="email" value="{{ user.email }}">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="url">URL</label>
          </div>
          <div class="input-container">
            <input type="text" id="url" name="url" value="{{ user.profile.url }}">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="institution">Institution</label>
          </div>
          <div class="input-container">
            <input type="text" id="institution" name="institution" value="{{ user.profile.institution }}">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="location">Location</label>
          </div>
          <div class="input-container">
            <input type="text" id="location" name="location" value="{{ user.profile.location }}">
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="label-container">
            <label for="location">Picture</label>
          </div>
          <div class="input-container">
            <button type="button" class="btn btn-success">Upload</button>
          </div>
        </div>
        <hr>
        <div class="button-container">
          <button type="submit" class="btn btn-success btn-large">Save profile</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}