{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/settings.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/jquery.Jcrop.min.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.Jcrop.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/profile.js"></script>
{% endblock head_extra %}

{% block content %}
  <div class="clearfix">
    {% include "settings/settings_menu.html" %}
    <div class="users-content">
      <h1>Edit Profile <span style="color:#999">({{ user.username }})</span></h1>
      <form enctype="multipart/form-data" method="post" action="{% url 'settings:upload_picture' %}" id="picture-upload-form" class="form-block">
        <div class="hidden-fields">
          {% csrf_token %}
          <input type="file" name="picture">
        </div>
        <div class="form-row">
          <div class="modal" id="modal-upload-picture">
            <div class="modal-header">
              <a href="#" class="close close-modal">×</a>
              <h2>Crop Profile Picture</h2>
            </div>
            <div class="modal-body">
              <h3>Picture</h3>
              {% if uploaded_picture %}
                <div class="selected-picture">
                  <p>Crop the profile picture and then click on the <strong>Save Picture</strong> button</p>
                  <img src="{{ MEDIA_URL }}/profile_pictures/{{ request.user.username }}_tmp.jpg?_={% now 'U' %}" id="crop-picture">
                  <input type="hidden" id="x" name="x" />
                  <input type="hidden" id="y" name="y" />
                  <input type="hidden" id="w" name="w" />
                  <input type="hidden" id="h" name="h" />
                </div>
                <script type="text/javascript">
                  $(function () {
                    $("#modal-upload-picture").open();
                    window.history.pushState("", "", "/settings/profile/");
                  });
                </script>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning close-modal">Cancel</button>
              <button type="button" class="btn btn-success btn-save-picture">Save Picture</button>
            </div>
          </div>
          <div class="label-container">
            <label for="location">Profile Picture</label>
          </div>
          <div class="input-container">
            <img src="{{ user.profile.get_picture }}" style="border-radius: 0.5em; margin-right: 10px" width="100px" class="pull-left profile-picture">
            <button type="button" class="btn btn-success" id="btn-upload-picture">Upload new picture</button>
          </div>
        </div>
      </form>
      <form action="{% url 'settings:profile' %}" method="post" class="form-block" id="profile-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="label-container">
            <label for="first-name">First Name</label>
          </div>
          <div class="input-container">
            <input type="text" id="first-name" name="first-name" value="{{ user.first_name }}" maxlength="30">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="last-name">Last Name</label>
          </div>
          <div class="input-container">
            <input type="text" id="last-name" name="last-name" value="{{ user.last_name }}" maxlength="30">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="email">Email</label>
          </div>
          <div class="input-container">
            <input type="text" id="email" name="email" value="{{ user.email }}" maxlength="75">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="url">URL</label>
          </div>
          <div class="input-container">
            <input type="text" id="url" name="url" value="{{ user.profile.url }}" maxlength="50">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="institution">Institution</label>
          </div>
          <div class="input-container">
            <input type="text" id="institution" name="institution" value="{{ user.profile.institution }}" maxlength="50">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="location">Location</label>
          </div>
          <div class="input-container">
            <input type="text" id="location" name="location" value="{{ user.profile.location }}" maxlength="50">
          </div>
        </div>
        <hr>
        <div class="button-container">
          <button type="submit" class="btn btn-success btn-large">Save profile</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}