div.source-buttons {
  padding: 15px 0;
}

#source-tab {
  margin-top: 20px;
}

#modal-article {
  width: 850px;
  height: 500px;
  margin-left: -425px;
  margin-top: -250px;
}

#modal-article .modal-body {
  height: 400px;
}

.source-articles {
  min-height: 300px;
}

.source-articles table.table tbody tr:hover {
  background: rgba(115, 138, 139, .2);
  cursor: pointer;
}

.source-articles tr.active {
  background: rgba(149, 163, 142, .4);
}

.source-articles table.table tbody tr.active:hover {
  background: rgba(149, 163, 142, .4);
}

table tbody tr td select {
  font-size: 1em;
}

table tbody tr td input {
  font-size: 1em;
}

#conducting-tab {
  margin-bottom: 20px;
}

#tbl-quality {
  margin: 20px 0 30px;
}

#tbl-quality th {
  text-align: center;
  font-weight: 600;
}

#tbl-quality td, #tbl-quality th {
  border: 1px solid #c2c2c2;
}

#tbl-quality td.answer {
  width: 100px;
  text-align: center;
  cursor: pointer;
}

#tbl-quality td.selected-answer {
  background: rgba(149, 163, 142, .6);
  font-weight: 600;
}

tr.higher-than-cutoff {
  background: rgba(147, 163, 146, .2);
}

span.higher-than-cutoff-label {
  color: rgba(147, 163, 146, 1.0);
  font-weight: 600;
}

tr.lower-than-cutoff {
  background: rgba(118, 42, 36, .2);
}

span.lower-than-cutoff-label {
  color: rgba(118, 42, 36, 1.0);
  font-weight: 600;
}

#modal-article .tab {
  margin-top: 10px;
}

.studies-import {
  margin-bottom: 20px;
}

.studies-action {
  margin-bottom: 20px;
}

.studies-action strong {
  font-size: 1.4em;
}

.studies-action select {
  font-size: 1.4em;
  margin-left: 10px;
}