{% extends 'base.html' %}

{% block title %}Parsifal{% endblock title %}

{% block head_extra %}
  <style type="text/css">
    p {
      font-size: 0.8em;
      margin: 0.8em 0;
    }
  </style>
{% endblock head_extra %}

{% block content %}
  <h1>Password reset initiated</h1>
  <p>An email has been sent to the given address. To continue the password reset process please follow the instructions in this email.</p>
  <p>If you have any problem with the password reset, please contact us at <a href="mailto:support@parsif.al">support@parsif.al</a>.</p>
{% endblock content %}
