{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Parsifal{% endblock %}</title>
  {% block meta %}
  <meta name="Description" content="Parsifal is a tool to support researchers to perform systematic literature reviews. Performing a systematic literature review is a labor-intensive task that requires a huge amount of work from the researcher. Parsifal will help you planning, conducting and reporting the review.">
  <meta property="og:title" content="Perform Systematic Literature Reviews" />
  <meta property="og:description" content="Parsifal is a tool to support researchers to perform systematic literature reviews. Performing a systematic literature review is a labor-intensive task that requires a huge amount of work from the researcher. Parsifal will help you planning, conducting and reporting the review." />
  <meta property="og:type" content="website">
  {% endblock %}
  <meta property="og:site_name" content="Parsifal" />
  <meta property="og:url" content="https://parsif.al{{ request.path }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content="https://parsif.al{% static 'img/facebook_parsifal.png' %}" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon-180x180.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'img/android-chrome-192x192.png' %}" sizes="192x192">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-96x96.png' %}" sizes="96x96">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="{% static 'img/mstile-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
  <link href="{% static 'css/parsifal.css' %}?v=2" rel="stylesheet">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  <div class="wrapper">
    {% include 'includes/header.html' %}
    {% comment %}
      <div class="announcement">
        <div class="container">
          <strong>Scheduled Maintenance:</strong>
          In order to upgrade our servers, the application will be offline for approximately 20 minutes on Oct 17, 2015 07:00 UTC.
        </div>
      </div>
    {% endcomment %}
    {% block fullwidthheader %}{% endblock %}
    <main>
      <div class="container">
        <div class="messages-container">
          {% include 'includes/messages.html' %}
        </div>
        {% block content %}{% endblock %}
      </div>
    </main>
    {% block fullwidthfooter %}{% endblock %}
    <div class="push"></div>
  </div>
  {% include 'includes/footer.html' %}
  <div class="modal fade" id="modal-alert">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  <div class="page-loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <script src="{% static 'js/mustache.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
  <script src="{% static 'js/selectize.min.js' %}"></script>
  <script src="{% static 'js/expanding.js' %}"></script>
  <script src="{% static 'js/parsifal.js' %}?v=2"></script>
  <script>
    $(function () {
      $.parsifal.init();
      if (document.location.hostname.indexOf('parsif.al') != -1) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        {% if user.is_authenticated %}
          ga('create', 'UA-42049022-2', 'parsif.al', {
            userId: '{{ user.pk }}'
          });
        {% else %}
          ga('create', 'UA-42049022-2', 'parsif.al');
        {% endif %}
        ga('send', 'pageview');
      }
    });
  </script>
  {% block javascript %}{% endblock %}

  {% verbatim %}
    <script id="alert-template" type="x-tmpl-mustache">
      <div id="{{ id }}" class="alert alert-dismissible fade in {{ alert-class }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    </script>
  {% endverbatim %}
  {% block mustache %}{% endblock %}
</body>
</html>