<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Parsifal{% endblock %}</title>
  <link href="{{ STATIC_URL }}css/style_app.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
  {% block head_extra %}
  {% endblock head_extra %}
</head>
<body>
  <header class="wrapper">
    <h1><a href="/">Parsifal</a></h1>
    <nav class="menu">
      <a href="#">News</a>
      <a href="#">About</a>
      <a href="#">Help</a>
    </nav>
    <nav class="signedin">
      <a href="/{{ user.username }}/" class="user">{{ user.username }}</a>
      <a href="/users/profile/">Account Settings</a>
      <a href="/signout/">Sign Out</a>
    </nav>
  </header>
  <section class="content wrapper">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <a href="#" class="pull-right" onclick="$(this).closest('div').fadeOut();">×</a>
          {{ message }}
        </div>
        <script type="text/javascript">
          $(function () {
            window.setTimeout(function () {
              $('.alert').fadeOut();
            }, 5000);
          });
        </script>
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <div class="push"></div>
  </section>
  <footer class="wrapper">
    <p>© 2013 Parsifal Ltd.</p>
    <ul>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Cookie Policy</a></li>
    </ul>
  </footer>
</body>
</html>