{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/settings.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <div class="clearfix">
    {% include "settings/settings_menu.html" %}
    <div class="users-content">
      <h1>Change Password <span style="color:#999">({{ user.username }})</span></h1>
      <form action="." method="post" class="form-block">
        {% csrf_token %}
        <div class="form-row">
          <div class="label-container">
            <label for="old-password">Old Password</label>
          </div>
          <div class="input-container">
            <input type="password" id="old-password" name="old-password">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="new-password">New Password</label>
          </div>
          <div class="input-container">
            <input type="password" id="new-password" name="new-password">
          </div>
        </div>
        <div class="form-row">
          <div class="label-container">
            <label for="confirm-new-password">Confirm Password</label>
          </div>
          <div class="input-container">
            <input type="password" id="confirm-new-password" name="confirm-new-password">
          </div>
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-success btn-large">Save password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}