.alert {
  width: 100%;
  margin: 0 auto 1.2em;
  border-radius: 4px;
  font-size: 1.4em;
  padding: .7em 20px;
  font-weight: 600;
  border: 1px solid #728A8B;
  background: #A0C2C4;
  box-shadow: 0 0 2px #728A8B inset;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.alert-error {
  border: 1px solid #732B22;
  background: #C45A46;
  color: #E6D9B8;
  box-shadow: 0 0 2px #732B22 inset;
}

.alert-success {
  border: 1px solid #94A390;
  background: #A9B9A4;
  color: #FFF3D0;
  box-shadow: 0 0 2px #94A390 inset;
}

.alert a {
  text-decoration: none;
  color: #FFF3D0;
  font-size: 1.5em;
  margin-top: -0.2em;
}