.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #1F8ED6;
  color: #fff;
  font-size: 14px;
  padding: 6px 12px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.4em;
  -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}

.btn:hover {
  background-color: #0780CF;
  text-decoration: none;
}

.btn-large {
  font-size: 18px;
  line-height: 1.6em;
}

.btn-small {
  font-size: 12px;
  line-height: .8em;
}

.btn-success {
  background-color: #1cb841;
  border-color: #079927;
}

.btn-success:disabled {
  background-color: #758373;
  cursor: default;
}

.btn-success:hover {
  background-color: #079927;
}

.btn-warning {
  border-color: #830505;
  background: #CA3C3C;
}

.btn-warning:disabled {
  background-color: #732B22;
  cursor: default;
}

.btn-warning:hover {
  background-color: #AA1F1F;
}

.btn-link {
  border: none;
  background: none;
  color: #55899B;
  text-decoration: underline;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.btn-link:hover {
  box-shadow: none;
  background: none;
  text-decoration: underline;
}