.btn {
  border: 1px solid #516465;
  border-radius: 3px;
  cursor: pointer;
  background-color: #728A8B;
  color: #FFF3D0;
  font-size: 14px;
  padding: 6px 12px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.4em;
  box-shadow: 0px 1px 0 0px rgba(179, 216, 219, .7) inset;
}

.btn:hover {
  background-color: #516465;
  text-decoration: none;
  box-shadow: 0px 1px 0 0px #728A8B inset;
}

.btn-large {
  font-size: 18px;
  line-height: 1.6em;
}

.btn-small {
  font-size: 12px;
  line-height: .8em;
}

.btn-success {
  background-color: #94A390;
  border-color: #758373;
  box-shadow: 0px 1px 0 0px #BBCEB7 inset;
}

.btn-success:disabled {
  background-color: #758373;
  box-shadow: 0px 1px 0 0px #99AB9A inset;
  cursor: default;
}

.btn-success:hover {
  background-color: #758373;
  box-shadow: 0px 1px 0 0px #99AB9A inset;
}

.btn-warning {
  border-color: #732B22;
  background: #C45A46;
  box-shadow: 0px 1px 0 0px #FF6C5A inset;
}

.btn-warning:disabled {
  background-color: #732B22;
  box-shadow: 0px 1px 0 0px #C85446 inset;
  cursor: default;
}

.btn-warning:hover {
  background-color: #732B22;
  box-shadow: 0px 1px 0 0px #C85446 inset;
}

.btn-link {
  border: none;
  background: none;
  color: #55899B;
  text-decoration: underline;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.btn-link:hover {
  box-shadow: none;
  background: none;
  text-decoration: underline;
}