input, button, select, option, textarea {
  font-family: inherit;
}

button {
  text-transform: none;
}

input, textarea, select {
  font-size: 1.4em;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding: 0.4em 0.7em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  color: #3A3D40;
}

input.input-block {
  width: 100%;
}

textarea {
  padding: 0.7em;
}

input:focus, textarea:focus {
  border-color: rgba(85, 137, 155, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(85, 137, 155, 0.6);
  outline: 0 none;
}

.label-container {
  float: left;
  text-align: right;
  width: 170px;
  padding-top: .7em;
}

.input-container {
  float: left;
  width: -moz-calc(100% - 170px);
  width: -webkit-calc(100% - 170px);
  width: calc(100% - 170px);
}

.button-container, .message-container {
  margin-left: 170px;
}

.button-container .btn {
  margin-right: .3em;
}

.form-block {
  margin-top: 20px;
}

.form-block label {
  font-size: 1.8em;
  padding-right: .8em;
}

.form-block input, .form-block textarea {
  display: block;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  font-size: 1.6em;
  padding: 0.4em 0.7em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  color: #3A3D40;
  width: 100%;
}

.form-block input:focus, .form-block textarea:focus {
  border-color: rgba(85, 137, 155, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(85, 137, 155, 0.6);
  outline: 0 none;
}

.form-block textarea {
  font-size: 1.8em;
}

.form-block .help {
  font-size: 1.2em;
  margin-top: .6em;
  display: block;
}

.form-row:before, 
.form-row:after { 
  content: "";
  display: table; 
}

.form-row:after {
  clear: both; 
}
.form-row {
  zoom: 1; /* IE6&7 */ 
  margin-bottom: 20px;
}

.form-status-message {
  font-size: 1.6em;
  font-weight: 600;
  padding: .6em 0;
  display: none;
  margin-left: 10px;
}

.form-normal input, .form-normal textarea, .form-normal label {
  font-size: 1.4em;
}