.label {
  background: #728A8B;
  display: inline;
  padding: .2em .6em .3em;
  font-weight: 700;
  line-height: 1;
  color: #FFF3D0;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.5em;
  font-size: 0.8em;
}

.label-success {
  background: #94A390;
}

.label-warning {
  background: #C45A46;
}

.label-small {
  font-size: 10px;
}