@import url(https://fonts.googleapis.com/css?family=Playball);

html, body {
  height: 100%;
}

.navbar-default .navbar-brand {
  font-family: 'Playball', cursive;
  font-weight: 400;
  font-size: 2.6em;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

footer {
  border-top: 1px solid #E7E7E7;
  height: 50px;
  padding-top: 14px;
  background-color: #fff;
}

footer ul li {
  display: inline;
  margin-right: 15px;
}
