@import url(reset.css);
@import url(clearfix.css);
@import url(alert.css);
@import url(button.css);
@import url(table.css);
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);

html, body {
  height: 100%;
}

body {
  color: #3A3D40;
  font: 400 20px/1.5 "Source Sans Pro", sans-serif;
  background: #f6f6f6;
}

strong {
  font-weight: 600;
}

header {
  background: #728A8B;
  border-bottom: 1px solid #56696A;
  width: 100%;
  padding: .4em 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

header h1 {
  font-family: Playball, cursive;
  font-size: 1.8em;
  text-shadow: 1px 1px 0px #3A3D40;
}

header h1 a {
  color: #E6D9B8;
  text-decoration: none;
  float: left;
}

header h1 a:hover {
  color: #FFF3D0;
}

header nav {
  float: left;
  height: 100%;
  padding: .6em 0 .6em 1.8em;
}

header nav a {
  padding: .6em;
  color: #E6D9B8;
  text-decoration: none;
  margin: 0 0.5em;
  font-size: 0.9em;
  font-weight: bold;
}

header nav a:hover {
  color: #FFF3D0;
}

.signin {
  padding: .6em 0;
  float: right;
}

header nav.signedin {
  float: right;
}

header nav.signedin a.user {
  font-size: 0.8em;
}

header nav.signedin a {
  font-size: 0.6em;
  padding: 0;
  margin: 0;
  margin-left: 1.2em;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

section.content {
  padding: 1.5em 0;
}

section.content input {
  display: block;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  margin-bottom: 0.7em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  padding: 0.4em 0.7em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  color: #3A3D40;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section.content input:focus {
  border-color: rgba(148, 163, 144, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(148, 163, 144, 0.6);
  outline: 0 none;
}

section.content h2 {
  margin-bottom: .5em;
  font-weight: 600;
}

section.content h1 {
  font-weight: 600;
  font-size: 1.2em;
}

.push {
  height: 50px;
}

.page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

footer {
  background-color: #57696A;
  font-weight: 400;
  color: #FFF3D0;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

footer div {
  padding-top: .3em;
}

footer p {
  color: #FFF3D0;
  font-size: .7em;
  font-weight: 400;
  float: left;
  margin: 0;
  padding-top: .5em;
}

footer ul {
  float: left;
  padding-left: 1em;
}
footer ul li {
  display: inline;
  font-size: .6em;
  padding-left: 1em;
}

footer ul li a {
  color: #FFF3D0;
  text-decoration: underline;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.alert {
  font-size: .7em;
}