@import url(reset.css);
@import url(clearfix.css);
@import url(alert.css);
@import url(button.css);
@import url(table.css);
@import url(form.css);
@import url(typography.css);
@import url(modal.css);
@import url(tab.css);
@import url(breadcrumb.css);
@import url(nav.css);
@import url(label.css);
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #F6F6F6;
  color: #3A3D40;
  font-family: "Source Sans Pro", Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

.logo {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  width: 32px;
  height: 32px;
}

header {
  height: 65px;
  background: #728A8B;
  border-bottom: 1px solid #56696A;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  padding: 0 20px;
}

header h1 {
  font-family: Playball, cursive;
  font-size: 3.6em;
  float: left;
  padding-top: .4em;
  font-weight: 400;
  margin: 0;
  text-shadow: 1px 1px 0 #3A3D40;
}

header h1 a {
  color: #E6D9B8;
  text-decoration: none;
}

header h1 a:hover {
  color: #FFF3D0;
  text-decoration: none;
}

header nav.menu {
  float: left;
  padding-top: 2.2em;
  padding-left: 5em;
}

header nav.menu a {
  padding: 0 1.2em;
  color: #E6D9B8;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}

header nav.menu a:hover {
  color: #FFF3D0;
}

header nav.signedin {
  padding-top: 2.2em;
  float: right;
}

header nav.signedin a {
  color: #E6D9B8;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 .7em;
  font-weight: bold;
}

header nav.signedin a:hover {
  color: #FFF3D0;
}

header nav.signedin a.user {
  font-size: 1.6em;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

.content {
  padding: 20px;
}

footer {
  background-color: #E9E9E9;
  height: 40px;
  padding: 0 20px;
}

footer p {
  padding-top: 1em;
  color: #3A3D40;
  font-size: 1.4em;
  font-weight: 400;
  float: left;
  margin: 0;
}

footer ul {
  float: left;
  padding-top: 1.4em;
  padding-left: 2em;
}
footer ul li {
  display: inline;
  font-size: 1.2em;
  padding: 0 .7em;
}

footer ul li a {
  color: #3A3D40;
  text-decoration: underline;
}

.push {
  height: 40px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.container {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #C2C2C2;
  border: 1px solid #C2C2C2;
  padding: 1em 1.5em;
  margin: 0 0 2em 0;
  background: #F9F9F9;
}

hr {
  border: none;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #FFF;
  margin: 20px 0;
}

ul {
  margin-left: 20px;
}

ul li {
  font-size: 1.4em;
  padding: .2em 0;
  list-style: square;
}

a.close {
  text-decoration: none;
}

a.close:hover {
  text-decoration: none;
}

.hide {
  display: none;
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-open {
  overflow: hidden;
}

.loading {
  height: inherit;
  width: 100%;
}

.loading tr {
  border: none!important;
}

.loading tr td {
  vertical-align: middle;
  text-align: center;
}

.loading tr td img {
  padding: 20px 0;
}

.loading-state {
  margin: 0!important;
  padding: 0!important;
}

.signup-signin {
  padding: 1.5em 0;
  float: right;
}

.signup-signin .btn {
  margin-left: 0.5em;
}

.user-actions .btn {
  width: 90px;
}