.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table td, .table th {
  /*border: 1px solid #AAA;*/
  font-size: 1.4em;
  padding: .8em .6em;
  text-align: left;
}

.table thead tr th {
  font-size: 1.6em;
  font-weight: 600;
}

.table tr {
  border-bottom: 1px solid #AAA;
}

.no-data {
  border-top: 1px solid #AAA;
}

.no-border {
  border-bottom: 1px solid #F6F6F6;
}