h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 2em;
  margin-bottom: .6em;
}

h3 {
  font-size: 1.6em;
  margin: .6em 0;
}

a {
  color: #55899B;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1.4em;
  margin-bottom: .7em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

small {
  font-size: 65%;
  color: #999;
  font-weight: 400;
}

.text-success {
  color: #94A390;
}

.text-error {
  color: #A84635;
}

.title {
  padding-bottom: 0.4em;
  border-bottom: 1px solid #DDDDDD;
}