{% if mendeley_profile %}
  <div class="media">
    <div class="media-body">
      <strong>{{ mendeley_profile.display_name }}</strong>
      <form method="post" action="{% url 'settings:disconnect_mendeley' %}">{% csrf_token %}<button type="submit" class="btn btn-link btn-sm" style="padding-top: 0; padding-right: 0;">(Disconnect)</button></form>
    </div>
    <div class="media-right">
      <a href="{{ mendeley_profile.link }}" target="_blank">
        <img src="{{ mendeley_profile_picture }}" alt="{{ mendeley_profile.display_name }}" class="media-object" style="width: 45px; height: 45px; border-radius: 4px;">
      </a>
    </div>
  </div>
{% else %}
  <a href="{{ mendeley_auth_url }}" class="btn btn-primary">Connect to Mendeley</a>
{% endif %}
