{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Planning · {{ review.title }}{% endblock %}

{% block stylesheet %}
  <style>
    body,html,.wrapper{height:auto;}
    section {padding-top:20px;}
    #planning-tab,section>.panel,section form>.panel{margin-bottom:0;}
  </style>
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/planning_quality_assessment.js' %}?_=2"></script>
  <script>
    $(function () {
      $("#protocol").affix({
        offset: {     
          top: $("#protocol").offset().top - 20,
          bottom: 70
        }
      });
    });
  </script>
{% endblock javascript %}

{% block content %}

  {% include 'reviews/review_header.html' with active_menu='planning' %}
  {% include 'planning/planning_header.html' with active_tab='quality' %}

  {% csrf_token %}

  <div class="row">
    <div class="hidden-sm col-md-4 col-lg-3" style="padding-top: 20px;">
      <div id="protocol" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Quality Assessment Checklist</h3>
        </div>
        <div class="list-group">
          <a href="#questions" class="list-group-item">Questions</a>
          <a href="#answers" class="list-group-item">Answers</a>
          <a href="#score" class="list-group-item">Score</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9">

      <section id="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Questions</h3>
          </div>
          <table class="table" id="tbl-quality-questions">
            <tbody>
              {% for quality_question in review.get_quality_assessment_questions %}
                {% include "planning/partial_quality_assessment_question.html" with quality_question=quality_question %}
              {% empty %}
                {% include "planning/partial_quality_assessment_question_form.html" %}
              {% endfor %}
            </tbody>
          </table>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary" id="btn-add-quality-question">
              <span class="glyphicon glyphicon-plus"></span>
              Add Question
            </button>
          </div>
        </div>
      </section>

      <section id="answers">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Answers</h3>
          </div>
          <table class="table" id="tbl-quality-answers">
            <thead>
              <tr>
                <th>Description</th>
                <th>Weight</th>
                <th style="width: 150px;"></th>
              </tr>
            </thead>
            <tbody>
              {% for quality_answer in review.get_quality_assessment_answers %}
                {% include "planning/partial_quality_assessment_answer.html" with quality_answer=quality_answer %}
              {% empty %}
                {% include "planning/partial_quality_assessment_answer_form.html" %}
              {% endfor %}
            </tbody>
          </table>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary" id="btn-add-quality-answer">
              <span class="glyphicon glyphicon-plus"></span>
              Add Answer
            </button>
            {% if not review.get_quality_assessment_answers %}
              <button type="button" class="btn btn-link" id="add-suggested-answers">(Add Suggested Answers)</button>
            {% endif %}                
          </div>
        </div>
      </section>

      <section id="score" style="margin-bottom: 20px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Quality Assessment Scores</h3>
          </div>
          <table class="table" id="tbl-cutoff-score">
            <tbody>
              <tr>
                <td style="white-space: nowrap; vertical-align: middle;"><strong>Max Score</strong></td>
                <td><input type="text" class="form-control" id="max-score" readonly value="{{ review.calculate_quality_assessment_max_score }}" style="width: 70px; text-align: right;"></td>
                <td>
                  <span class="help-block">Calculated based on the number of questions and on the answer of greater weight</span>
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap; vertical-align: middle;"><strong>Cutoff Score</strong></td>
                <td><input type="text" class="form-control" id="cutoff-score" value="{{ review.quality_assessment_cutoff_score }}" style="width: 70px; text-align: right;"></td>
                <td>
                  <button type="button" class="btn btn-sm btn-success" id="save-cutoff-score">
                    <span class="btn-ajax-normal">
                      <span class="glyphicon glyphicon-ok"></span> save
                    </span>
                    <span class="btn-ajax-loading">
                      <span class="glyphicon glyphicon-refresh spin"></span> saving…
                    </span>
                    <span class="btn-ajax-complete">
                      <span class="glyphicon glyphicon-ok"></span> saved!
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

{% endblock content %}
