{% extends 'base.html' %}

{% block title %}Parsifal - Blog{% endblock %}

{% block stylesheet %}
  <link href="{{ STATIC_URL }}css/blog.css" rel="stylesheet" media="screen">
{% endblock stylesheet %}

{% block content %}
  <h1>The Parsifal Blog</h1>
  <div class="blog">
    {% for entry in entries %}
      <article>
        <h2><a href="/blog/{{ entry.slug }}/">{{ entry.title }}</a></h2>
        <ul>
          <li>{{ entry.start_publication|date:"D d M Y" }}</li>
          <li><a href="/{{ entry.created_by.username }}/">{{ entry.created_by.profile.get_screen_name }}</a></li>
        </ul>
        <div class="content">
          {{ entry.format_content|safe }}
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock content %}