{% extends 'base.html' %}

{% block title %}Parsifal - {{ entry.title }}{% endblock %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/blog.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <div class="blog">
    <article class="single-entry">
      <h1>{{ entry.title }}</h1>
      <ul>
        <li>{{ entry.start_publication|date:"D d M Y" }}</li>
        <li><a href="/{{ entry.created_by.username }}/">{{ entry.created_by.get_profile.get_screen_name }}</a></li>
      </ul>
      <div class="content">
        <p>{{ entry.content }}</p>
      </div>
    </article>
  </div>
{% endblock content %}