{% extends 'base.html' %}

{% block title %}Parsifal - {{ entry.title }}{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    var disqus_shortname = 'parsifalreviews';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
{% endblock javascript %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <article class="single-entry">
        <h2 class="page-header">{{ entry.title }}</h2>
        <p class="text-muted">
          Posted by <a href="{% url 'reviews' entry.created_by.username %}">{{ entry.created_by.profile.get_screen_name }}</a> at
          {{ entry.start_publication|date:"D d M Y" }}
        </p>
        <div class="content">
          {{ entry.content|safe }}
        </div>
      </article>
      <div id="disqus_thread"></div>
    </div>
  </div>
{% endblock content %}
