{% extends 'base.html' %}

{% block javascript %}
  <script type="text/javascript">
    $(function() {
      $("#new-account").submit(function () {
        $("input[name=confirm_password]").val($("input[name=password]").val());
      });
    });
  </script>
{% endblock javascript %}

{% block content %}

  <div class="row cover">
    <div class="col-md-7">
      <h1>Perform Systematic Literature Reviews</h1>
      <p class="lead">Performing a systematic literature review is a labor-intensive task that requires a huge amount of work from the researcher. <strong>Parsifal</strong> will help you planning, conducting and reporting the review.</p>
    </div>
    <div class="col-md-5">
      <h2>Sign up for Parsifal</h2>
      <form action="/signup/" method="post" id="new-account">
        {% csrf_token %}
        <div class="form-group">
          <input class="form-control input-lg" type="text" placeholder="Username" name="username">
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="password" placeholder="Password" name="password">
          <input type="password" name="confirm_password" value="" style="display: none;">
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="email" placeholder="Email" name="email">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">Create a new account</button>
        </div>
      </form>      
    </div>
  </div>

{% endblock content %}

{% block fullwidthfooter %}
  <section class="features">
    <div class="container">
      <article>
        <span class="glyphicon glyphicon-globe"></span>
        <h2>Support for geographically distributed researchers</h2>
        
        <p class="lead">Parsifal is a powerful platform that provides full support for researchers geographically distributed to work on the same Systematic Literature Review. There is no limit of authors per review.</p>
      </article>
      <article>
        <span class="glyphicon glyphicon-book"></span>
        <h2>Publish extra information</h2>

        <p class="lead">Normally you can't publish all relevant information about the research as frequently there is a limit amount of pages to publish your article on a certain conference or journal. Parsifal provides you a beautiful interface to publish any extra information like the whole result from the search string, all modifications of the search string, more details about the protocol, etc.</p>
      </article>
      <article>
        <span class="glyphicon glyphicon-duplicate"></span>
        <h2>Support for tertiary studies</h2>
        
        <p class="lead">Having a huge amount of Systematic Literature Reviews in the platform, it will provide a powerful support for tertiary studies, that is, systematic literature review of secondary studies.</p>
      </article>
    </div>
  </section>
{% endblock fullwidthfooter %}
