{% extends 'base_app.html' %}

{% load humanize %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <div class="clearfix">
    <div class="last-updates">
      <h1>Last updates on Parsifal</h1>
      <ul>
        {% for feed in feeds %}
          <li>{{ feed.message|safe }} <small>{{ feed.date|naturaltime }}</small></li>
        {% empty %}
          <li>There is no recent update on your network.</li>
        {% endfor %}
      </ul>
    </div>
    <div class="user-reviews">
      <div class="clearfix" style="margin-bottom: 1.5em">
        <a href="/reviews/new/" class="btn btn-success pull-right">New review</a>
      </div>
      <div class="container reviews" style="padding: 0">
        <nav>
          <h3>Your Reviews</h3>
          {% for review in user_reviews %}
            <a href="/{{ review.author.username }}/{{ review.name }}/">{{ review.title }}</a>
          {% empty %}
            <p>You don't have any systematic literature review yet.</p>
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
{% endblock content %}