{% extends 'base.html' %}

{% load humanize %}

{% block stylesheet %}
  <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" media="screen">
{% endblock stylesheet %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <a href="/reviews/new/" class="btn btn-primary pull-right">New review</a>
      <h2 class="page-header">Last updates on Parsifal</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <ul>
        {% for feed in feeds %}
          <li>{{ feed.message|safe }} <small>{{ feed.date|naturaltime }}</small></li>
        {% empty %}
          <li>There is no recent update on your network.</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your reviews</h3>
        </div>
        <div class="list-group">
          {% for review in user_reviews %}
            <a href="/{{ review.author.username }}/{{ review.name }}/" class="list-group-item">{{ review.title }}</a>
          {% empty %}
            <p class="list-group-item">You don't have any systematic literature review yet.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}