{% extends 'base.html' %}

{% block title %}Parsifal - Sign up{% endblock title %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/signup.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <div class="signup">
    <h1 class="join">Sign up for Parsifal</h1>
    <form action="/signup/" method="post">
      {% csrf_token %}
      <div class="form-row">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{ new_user.username }}">
        <p class="info">{{ error_username }}</p>
      </div>
      <div class="form-row">
        <label for="email">Email Address:</label>
        <input type="text" name="email" value="{{ new_user.email }}">
        <p class="info">{{ error_email }}</p>
      </div>
      <div class="form-row">
        <label for="email">Password:</label>
        <input type="password" name="password">
        <p class="info">{{ error_password }}</p>
      </div>
      <div class="form-row">
        <label for="confirm-password">Confirm your password:</label>
        <input type="password" name="confirm-password">
        <p class="info">{{ error_confirm_password }}</p>
      </div>
      <button type="submit" class="btn btn-success btn-large">Create an account</button>
    </form>
  </div>
{% endblock content %}