{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <a href="/reviews/new/" class="btn btn-primary pull-right">New review</a>
      <h2 class="page-header">Last updates on your network</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% for feed in feeds %}
        <p>{{ feed.message|safe }} <small>{{ feed.date|naturaltime }}</small></p>
      {% empty %}
        <p>There are no recent updates to your network.</p>
      {% endfor %}
    </div>
    <div class="col-md-4">
      {% if latest_news and latest_news.summary %}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Lastest news</h3>
          </div>
          <div class="panel-body">
            {{ latest_news.summary }} <a href="{% url 'blog:entry' latest_news.slug %}">Read more</a>
          </div>
        </div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your reviews</h3>
        </div>
        <div class="list-group">
          {% for review in user_reviews %}
            <a href="/{{ review.author.username }}/{{ review.name }}/" class="list-group-item">{{ review.title }}</a>
          {% empty %}
            <p class="list-group-item">You don't have any systematic literature review yet.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}