<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Parsifal</title>
  <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
</head>
<body>
  <header>
    <div class="wrapper clearfix">
      <h1><a href="#">Parsifal</a></h1>
      <nav>
        <a href="#">News</a>
        <a href="#">About</a>
        <a href="#">Help</a>
      </nav>
    </div>
  </header>
  <section>
    <div class="wrapper clearfix">
      <div class="content-left">
        <h1>Perform Systematic Literature Reviews</h1>
        <p class="slogan">Performing a systematic literature review is a labor-intensive task that requires a huge amount of work from the researcher. <strong>Parsifal</strong> will help you planning, conducting and reporting the review.</p>
      </div>
      <div class="content-right">
        <form>
          <input placeholder="Username">
          <input placeholder="Password">
          <input placeholder="Email">
        </form>
      </div>
    </div>
  </section>
  <footer>

  </footer>
</body>
</html>