<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Parsifal - Sign in</title>
  <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
</head>
<body>
  <header>
    <div class="wrapper clearfix">
      <h1><a href="/">Parsifal</a></h1>
      <nav>
        <a href="#">News</a>
        <a href="#">About</a>
        <a href="#">Help</a>
      </nav>
      <div class="signin">
        <a href="/signin/">Sign in</a>
      </div>
    </div>
  </header>
  <section>
    <div class="wrapper">
      <div class="signin-form">
        <div class="form-header">
          <h1>Sign in</h1>
        </div>
        <div class="form-body">
          <form method="post" action="/signin/">
            <label for="username">Username:</label>
            <input type="text" id="username">
            <label for="password">Password:</label>
            <input type="password" id="password">
            <a href="#">Forgot your password?</a>
            <button type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>