@import url(reset.css);
@import url(clearfix.css);
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);

body {
  color: #3A3D40;
  font: 400 20px/1.5 "Source Sans Pro", sans-serif;
}

strong {
  font-weight: 600;
}

header {
  background: #3A3D40;
  width: 100%;
  padding: .4em 0;
  border-bottom: 0.3em solid #732B22;
}

header h1 {
  font-family: Playball, cursive;
  font-size: 1.8em;
}

header h1 a {
  color: #E6D9B8;
  text-decoration: none;
  float: left;
}

header h1 a:hover {
  text-shadow: 0 0 5px #FFF;
}

header nav {
  float: left;
  height: 100%;
  padding: .6em 0 .6em 1.8em;
}

header nav a {
  padding: .6em;
  color: #E6D9B8;
  text-decoration: none;
  margin: 0 0.5em;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

section {
  background: url("../img/ticks.png");
  padding: 5em 0;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.7) inset;
}

section h1 {
  font-size: 2.5em;
  font-weight: 700;
  font-family: Tahoma;
}

.content-left {
  float: left;
  width: 580px;
}

.content-right {
  float: left;
  width: 380px;
}

p.slogan {
  margin-top: 1.5em;
  font-size: 0.8em;
}

footer {
  width: 100%;
  min-height: 500px;
  background-color: #732B22;
  /*box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5) inset;*/
  background: -moz-linear-gradient(top, #4A1916 0%, #732B22 50%);
}

section input {
  display: block;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  margin-bottom: 0.7em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  padding: 0.4em 0.7em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  color: #3A3D40;
  width: 330px;
}

section input:focus {
  border-color: rgba(112, 43, 31, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(112, 43, 31, 0.6);
  outline: 0 none;
}