{% extends 'conducting/conducting.html' %}

{% load staticfiles %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/conducting_data_extraction.js' %}?_=1"></script>
{% endblock javascript %}

{% block tab_content %}
  {% include "conducting/conducting_header.html" with active_tab="extraction" %}
  <h3>Data Extraction</h3>

  {% if finished_all_steps %}
    {% csrf_token %}
    {% if data_extraction_table %}
      {{ data_extraction_table|safe }}
    {% else %}
      <h4>No study above the quality cutoff score.</h4>
    {% endif %}
  {% else %}
    <p>There is a few steps you have to finish before extract data of the studies:</p>
    <ul>
      {% for message in steps_messages %}
        <li>{{ message|safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock tab_content %}