{% extends 'conducting/conducting.html' %}

{% load staticfiles %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/conducting_import_studies.js' %}?_=1"></script>
{% endblock javascript %}

{% block tab_content %}

  {% include "conducting/conducting_header.html" with active_tab="import" %}

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Import Studies</h3>
        </div>
        {% if review.sources.all %}
          <table class="table table-v-align-middle" id="tbl-import-studies">
            <thead>
              <tr>
                <th>Source</th>
                <th>Imported Studies</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for source in sources %}
                <tr>
                  <td>{{ source.source.name }}</td>
                  <td>{{ source.count }}</td>
                  <td>
                    <form enctype="multipart/form-data" method="post" action="{% url 'reviews:conducting:import_bibtex' %}">
                      {% csrf_token %}
                      <input type="hidden" name="review-id" value="{{ review.id }}">
                      <input type="hidden" name="source-id" value="{{ source.source.id }}">
                      <input type="file" class="hide" name="bibtex">
                    </form>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        Import
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" class="btn-import-bibtex">BibTeX file <small>(.bib, .bibtex)</small></a></li>
                        <li><a href="javascript:void(0);">Paste BibTeX content</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="panel-body">
            <p>There is a few steps you have to finish before you import the studies:</p>
            <ul>
              <li>Use the <a href="{% url 'planning' review.author.username review.name %}#sources-section">planning tab</a> to add sources to your review.</li>
            </ul>
          </div>
        {% endif %}
      </div>      
    </div>
  </div>




{% endblock tab_content %}
