<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 legal">
        <span>© 2014-2018 Parsifal Ltd.</span>
      </div>
      <div class="col-xs-6 social">
        <a href="https://github.com/vitorfs/parsifal" target="_blank" data-toggle="tooltip" title="Github" data-placement="top"><span class="fa fa-github"></span></a>
        <a href="https://twitter.com/parsif_al" target="_blank" data-toggle="tooltip" title="Twitter" data-placement="top"><span class="fa fa-twitter"></span></a>
        <a href="https://youtube.com/ParsifalReviews/" target="_blank" data-toggle="tooltip" title="Youtube" data-placement="top"><span class="fa fa-youtube"></span></a>
        <a href="https://plus.google.com/+ParsifalReviews/" target="_blank" data-toggle="tooltip" title="Google+" data-placement="top"><span class="fa fa-google-plus"></span></a>
      </div>
    </div>
  </div>
</footer>
