<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 legal">
        <span>© 2021 Simple Complex</span>
      </div>
      <div class="col-xs-4" style="text-align: center;padding-top: 14px;">
        <small class="text-muted">
          <a href="https://github.com/vitorfs/parsifal/releases/latest" rel="noopener">v{{ parsifal_version }}</a>
        </small>
      </div>
      <div class="col-xs-4 social">
        <a href="https://github.com/vitorfs/parsifal" target="_blank" data-toggle="tooltip" title="Github" data-placement="top"><span class="fa fa-github"></span></a>
        <a href="https://twitter.com/parsif_al" target="_blank" data-toggle="tooltip" title="Twitter" data-placement="top"><span class="fa fa-twitter"></span></a>
        <a href="https://youtube.com/ParsifalReviews/" target="_blank" data-toggle="tooltip" title="Youtube" data-placement="top"><span class="fa fa-youtube"></span></a>
      </div>
    </div>
  </div>
</footer>
