{% extends 'base.html' %}

{% block title %}Account Settings · Parsifal{% endblock %}

{% block javascript %}
  <script>
    $(function () {

      $.fn.loadConnection = function (url) {
        var url = $(this).attr("data-remote");
        var container = $(this);
        $.ajax({
          url: url,
          cache: false,
          beforeSend: function () {
            $(container).spinner(false);
            $(".block-spinner", container).addClass("pull-right");
          },
          success: function (data) {
            $(container).html(data);
          },
          complete: function () {
            $(container).spinner();
          }
        });
      };

      $(".mendeley-container").loadConnection();
      $(".dropbox-container").loadConnection();

    });
  </script>
{% endblock javascript %}

{% block content %}  
  <div class="row">
    <div class="col-md-3">
      {% include "settings/settings_menu.html" %}
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Connected Services</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <h4>Connect to Mendeley</h4>
            <div class="row">
              <div class="col-xs-8">
                <p>Import your references from Mendeley. Associate your Mendeley library to your reviews. Friends you have on Mendeley who are also on Parsifal will become part of your Parsifal network.</p>
              </div>
              <div class="col-xs-4 text-right mendeley-container" data-remote="{% url 'settings:mendeley_connection' %}">

              </div>
            </div>
          </li>
          <li class="list-group-item">
            <h4>Connect to Dropbox</h4>
            <div class="row">
              <div class="col-xs-8">
                <p>Use your Dropbox account as your personal library and store papers related to your literature reviews.</p>
              </div>
              <div class="col-xs-4 text-right dropbox-container" data-remote="{% url 'settings:dropbox_connection' %}">

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
