<tr oid="{{ quality_answer.id|default:'None' }}" csrf-token="{{ csrf_token }}">
  <td>
    <input type="text" maxlength="255" class="form-control quality-answer-description" value="{{ quality_answer.description }}">
  </td>
  <td>
    <input type="text" maxlength="10" class="form-control quality-answer-weight" value="{{ quality_answer.weight|default_if_none:'' }}">
  </td>
  <td style="width: 200px; text-align: right; vertical-align: middle;">
    <button type="button" class="btn btn-sm btn-success btn-save-quality-answer">
      <span class="glyphicon glyphicon-ok"></span>
      save
    </button>
    <button type="button" class="btn btn-sm btn-default btn-cancel-quality-answer">cancel</button>
  </td>
</tr>