<tr oid="{{ field.id }}">
  <td style="width: 50px; text-align: center; vertical-align: middle;">
    <input type="hidden" name="data-extraction-field-order" value="{{ question.order }}">
    <a href="javascript:void(0);" style="display: block;" class="js-order-field-up">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <a href="javascript:void(0);" style="display: block;" class="js-order-field-down">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </td>
  <td style="vertical-align: middle;">{{ field.description }}</td>
  <td style="vertical-align: middle;">{{ field.get_field_type_display }}</td>
  <td style="vertical-align: middle;">
    {% if field.is_select_field %}
      <ul>
        {% for value in field.get_select_values %}
          <li>{{ value.value }}</li>
        {% endfor %}
      </ul>
    {% else %}
      n/a
    {% endif %}
  </td>
  <td style="width: 200px; text-align: right; vertical-align: middle;">
    <button type="button" class="btn btn-sm btn-warning btn-edit-data-extraction-field">
      <span class="btn-ajax-normal">
        <span class="glyphicon glyphicon-pencil"></span> edit
      </span>
      <span class="btn-ajax-loading">
        <span class="glyphicon glyphicon-refresh spin"></span> loading…
      </span>
    </button>
    <button type="button" class="btn btn-sm btn-danger btn-remove-data-extraction-field">
      <span class="btn-ajax-normal">
        <span class="glyphicon glyphicon-trash"></span> remove
      </span>
      <span class="btn-ajax-loading">
        <span class="glyphicon glyphicon-refresh spin"></span> removing…
      </span>
    </button>
  </td>
</tr>