{% extends 'conducting/conducting.html' %}

{% block conducting_head_extra %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/conducting_quality_assessment.js"></script>
{% endblock conducting_head_extra %}

{% block tab_content %}
  {% include "conducting/conducting_header.html" with active_tab="quality" %}
  <h2>Quality Assessment</h2>

  <ul class="nav nav-pills">
    <li class="active"><a href="">Detailed</a></li>
    <li><a href="">Summary</a></li>
  </ul>

  <p>
    <strong>Show:</strong>
    <input type="checkbox"> All 
    <input type="checkbox"> Done 
    <input type="checkbox"> Pending
    <input type="checkbox"> Score higher than {{ review.quality_assessment_cutoff_score }}
    <input type="checkbox"> Score lower or equal to {{ review.quality_assessment_cutoff_score }}
  </p>

  {% for study in selected_studies %}
    <table class="table" id="tbl-quality" article-id="{{ study.id }}" csrf-token="{{ csrf_token }}">
      <thead>
        <tr>
          <th colspan="{{ quality_answers|length|add:'1' }}">{{ study.title }}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th></th>
          <th colspan="{{ quality_answers|length }}">Quality Score: <span class="score">{{ study.get_score }}</span></th>
        </tr>
      </tfoot>
      <tbody>
        {% for question in quality_questions %}
          <tr question-id="{{ question.id }}">
            <td>{{ question.description }}</td>
            {% for answer in quality_answers %}
              <td class="answer" answer-id="{{ answer.id }}">{{ answer.description }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}

{% endblock tab_content %}