{% extends 'conducting/conducting.html' %}

{% block conducting_head_extra %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/conducting_study_selection.js"></script>
{% endblock conducting_head_extra %}

{% block tab_content %}
  {% include "conducting/conducting_header.html" with active_tab="studies" %}
  <h2>Study Selection</h2>
  <div class="modal" id="modal-duplicates">
    <div class="modal-header">
      <a href="#" class="close close-modal">×</a>
      <h2>Duplicates</h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning close-modal">Cancel</button>
      <button type="button" class="btn btn-success" id="btn-resolve-all">Resolve All</button>
    </div>
  </div>

  <div class="modal" id="modal-add-article">
    <div class="modal-header">
      <a href="#" class="close close-modal">×</a>
      <h2>New Article</h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning close-modal">Cancel</button>
      <button type="button" class="btn btn-success" id="btn-save-article">Save</button>
    </div>
  </div>

  <div class="modal" id="modal-article">
    <div class="modal-header">
      <a href="#" class="close close-modal">×</a>
      <h2>Article Details <span style="font-size: 0.8em">(<span class="current-article"></span>/<span class="total-articles"></span>)</span></h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <p style="padding-top: 7px">
          <input type="checkbox" id="save-and-move-next"> Automatically save the status on change and move next
        </p>
      </div>
      <button type="button" class="btn" id="btn-previous">Previous</button>
      <button type="button" class="btn" id="btn-next">Next</button>
      <button type="button" class="btn btn-warning close-modal">Cancel</button>
      <button type="button" class="btn btn-success" id="btn-save-article">Save</button>
    </div>
  </div>

  {% if review.sources.all %}
    <ul class="tab" id="source-tab">
      <li><a href="#" source-id="None">All Sources</a></li>
      {% for source in review.sources.all %}
        <li{% if source.id == active_tab %} class="active"{% endif %}><a href="#" source-id="{{ source.id }}">{{ source.name }}</a></li>
      {% endfor %}
    </ul>
    <div class="source-tab-content"></div>
  {% else %}
    <p>There is a few steps you have to finish before you import the studies:</p>
    <ul>
      <li>Use the <a href="/{{ review.author.username }}/{{ review.name }}/planning/">planning tab</a> to add sources to your review.</li>
    </ul>
    <p></p>
  {% endif %}
{% endblock tab_content %}