{% extends 'conducting/conducting.html' %}

{% block conducting_head_extra %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/conducting_data_extraction.js"></script>
{% endblock conducting_head_extra %}

{% block tab_content %}
  {% include "conducting/conducting_header.html" with active_tab="extraction" %}
  <h2>Data Extraction</h2>

  {% if finished_all_steps %}
    {% csrf_token %}
    {{ data_extraction_table|safe }}
  {% else %}
    <p>There is a few steps you have to finish before extract data of the studies:</p>
    <ul>
      {% for message in steps_messages %}
        <li>{{ message|safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock tab_content %}