<ul class="tab">
    <li class="active"><a href="#tab-details">Details</a></li>
    <li><a href="#tab-criteria">Criteria</a></li>
    <li><a href="#tab-comments">Comments</a></li>
</ul>
<div class="tabs">
  <div id="tab-details">
    <form name="article-details" id="article-details" method="post" action="." class="form-block form-normal">
      {% csrf_token %}
      <input type="hidden" name="review-id" value="{{ article.review.id }}">
      <input type="hidden" name="article-id" value="{{ article.id }}">
      <div class="form-row">
        <h3>{{ form.title.label }}</h3>
        {{ form.title }}
        {{ form.title.errors }}
      </div>
      <div class="form-row">
        <h3>{{ form.abstract.label }}</h3>
        {{ form.abstract }}
        {{ form.abstract.errors }}
      </div>
      <div class="form-row">
        <h3>{{ form.bibtex_key.label }}</h3>
        {{ form.bibtex_key }}
        {{ form.bibtex_key.errors }}
      </div>
      <div class="form-row">
        <h3>{{ form.author.label }}</h3>
        {{ form.author }}
        {{ form.author.errors }}
      </div>
      <div class="form-row">
        <h3>{{ form.journal.label }}</h3>
        {{ form.journal }}
        {{ form.journal.errors }}
      </div>
      <div class="form-row">
        <h3>{{ form.year.label }}</h3>
        {{ form.year }}
        {{ form.year.errors }}
      </div>
      <div class="form-row">
        <h3>{{ form.document_type.label }}</h3>
        {{ form.document_type }}
        {{ form.document_type.errors }}
      </div>
      <div class="form-row">
        <h3>{{ form.pages.label }}</h3>
        {{ form.pages }}
        {{ form.pages.errors }}
      </div>
      <div class="form-row">
        <h3>{{ form.volume.label }}</h3>
        {{ form.volume }}
        {{ form.volume.errors }}
      </div>
    </form>
  </div>
  <div id="tab-criteria" class="hide">
    <h3>Criteria</h3>
  </div>
  <div id="tab-comments" class="hide">
    <h3>Comments</h3>
  </div>
</div>