<table class="table">
  <thead>
    <tr>
      <th><input type="checkbox" style="font-size:0.8em;" id="ck-all-articles"></th>
      <th>Bibtex Key</th>
      <th>Title</th>
      <th>Author</th>
      <th>Journal</th>
      <th>Year</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
      <tr oid="{{ article.id }}">
        <td><input type="checkbox"></td>
        <td>{{ article.bibtex_key }}</td>
        <td>{{ article.title }}</td>
        <td>{{ article.autdor }}</td>
        <td>{{ article.journal }}</td>
        <td>{{ article.year }}</td>
        <td>
          <span class="{% if article.status == article.ACCEPTED %}label label-success{% elif article.status == article.REJECTED %}label label-warning{% endif %}">
            {{ article.get_status_display }}
          </span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>