<h3>Resolve Duplicates</h3>
{% if duplicates %}
  <p>Click on <strong>Resolve Button</strong> to change the article status to <span class="label label-warning">Duplicated</span></p>
{% endif %}
{% csrf_token %}
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Year</th>
      <th>Source</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for articles in duplicates %}
      {% with forloop.counter as loop_count %}
        {% for article in articles %}
          <tr{% if loop_count|divisibleby:2 %} style="background-color: #f5f5f5;"{% endif %} duplicate="{{ loop_count }}" article-id="{{ article.id }}" resolved="false">
            <td>{{ article.title }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.year }}</td>
            <td>{{ article.source }}</td>
            <td>{{ article.get_status_html|safe }}</td>
            <td width="120px"><button class="btn btn-sm btn-danger btn-resolve">Resolve</button></td>
          </tr>
        {% endfor %}
      {% endwith %}
    {% empty %}
      <tr>
        <td colspan="6" style="text-align: center">No duplicate found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>