<div class="articles clearfix">
  <div class="source-buttons">
    <form enctype="multipart/form-data" method="post" action="/reviews/conducting/import_bibtex/">
      {% csrf_token %}
      <input type="hidden" name="review-id" value="{{ review.id }}">
      <input type="hidden" name="source-id" value="{{ source.id }}">
      <input type="file" class="hide" name="bibtex">
    </form>
    {% if source.id %}
      <div class="studies-import">
        <button type="button" class="btn btn-import-bibtex btn-small">Import Bibtex</button>
        <button type="button" class="btn btn-add-manual btn-small">Add Manual</button>
      </div>
    {% endif %}
    <div class="studies-action">
      <strong>Action:</strong>
      <select class="select-action">
        <option value="">Select...</option>
        <option value="remove">Remove selected</option>
        <option value="accept">Mark as accepted</option>
        <option value="reject">Mark as rejected</option>
      </select>
      <button type="button" class="btn btn-small go-button">Go</button>
    </div>
    <p>
      <strong>Show:</strong> 
      <input type="radio" name="filter" value="ALL" checked> All
      <input type="radio" name="filter" value="U"> Unclassified
      <input type="radio" name="filter" value="A"> Accepted
      <input type="radio" name="filter" value="R"> Rejected
    </p>
  </div>
  <div class="source-articles">
    <table class="table" csrf-token="{{csrf_token}}">
      <thead>
        <tr>
          <th><input type="checkbox" style="font-size:0.8em;" id="ck-all-articles"></th>
          <th><a href="#" col="bibtex_key">Bibtex Key</a></th>
          <th><a href="#" col="title">Title</a></th>
          <th><a href="#" col="author">Author</a></th>
          <th><a href="#" col="journal">Journal</a></th>
          <th><a href="#" col="year">Year</a></th>
          <th><a href="#" col="status">Status</a></th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr oid="{{ article.id }}" article-status="{{ article.status }}">
            <td><input type="checkbox" value="{{ article.id }}"></td>
            <td>{{ article.bibtex_key }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.journal }}</td>
            <td>{{ article.year }}</td>
            <td>
              <span class="{% if article.status == article.ACCEPTED %}label label-success{% elif article.status == article.REJECTED %}label label-warning{% endif %}">
                {{ article.get_status_display }}
              </span>
            </td>
          </tr>
        {% empty %}
          <tr class="no-data">
            <td colspan="7">No articles.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>