<div id="tab{{ source.id }}" class="articles clearfix hide">
  <div class="source-buttons">
    <form enctype="multipart/form-data" name="article-bib-{{ source.id|default:'all' }}" method="post" action="/reviews/conducting/import_bibtex/">
      {% csrf_token %}
      <input type="hidden" name="review-id" value="{{ review.id }}">
      <input type="hidden" name="source-id" value="{{ source.id }}">
      <input type="file" class="hide" name="bibtex">
    </form>
    <button type="button" class="btn btn-import-bibtex btn-small">Import Bibtex</button>
    <button type="button" class="btn btn-add-manual btn-small">Add Manual</button>
  </div>
  <div class="source-articles"></div>
</div>