div.source-buttons {
  padding: 15px 0;
}

#source-tab {
  margin-top: 20px;
}

#modal-article {
  width: 850px;
  height: 500px;
  margin-left: -425px;
  margin-top: -250px;
}

#modal-article .modal-body {
  height: 400px;
}

.source-articles table.table tbody tr:hover {
  background: rgba(115, 138, 139, .1);
  cursor: pointer;
}