{% extends "base.html" %}

{% load compress i18n %}

{% block title %}{% translate "Invite" context "noun" %} · {{ invite.review.title }}{% endblock %}

{% block stylesheet %}
  {% compress css %}
    <style>
      body {
        background-color: #f8f8f8;
        text-align: center;
        padding-top: 170px;
      }

      h1 {
        font-family: 'Playball', cursive;
        font-weight: 400;
        color: #777;
        font-size: 42px;
      }
    </style>
  {% endcompress %}
{% endblock %}

{% block body %}
  <div class="wrapper">
    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <h1>Parsifal</h1>
          <div class="panel panel-default">
            <div class="panel-body" style="padding-top: 30px; padding-bottom: 30px;">
              <p class="lead">
                {% blocktranslate trimmed with invited_by=invite.invited_by.profile.get_screen_name review_title=invite.review.title %}
                  <strong>{{ invited_by }}</strong> invited you to collaborate on the literature review <strong>"{{ review_title }}"</strong>
                {% endblocktranslate %}
              </p>
              {% if invite.invitee %}
                {% if user.is_authenticated and invite.invitee == user %}
                  <div style="margin-bottom: 20px;">
                    <form action="{% url "accept_user_invite" invite.pk %}" method="post" style="display: inline-block">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-ok"></span>
                        {% translate "Accept" %}
                      </button>
                    </form>
                    <form action="{% url "reject_user_invite" invite.pk %}" method="post" style="display: inline-block">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-remove"></span>
                        {% translate "Reject" %}
                      </button>
                    </form>
                  </div>
                  <small class="text-muted">
                    {% blocktranslate trimmed with username=invite.invitee.username %}
                      You are currently logged in as <strong>{{ username }}</strong>.
                    {% endblocktranslate %}
                  </small>
                {% else %}
                  <p>
                    {% blocktranslate trimmed %}
                      To accept the invitation, you must log in to your account <strong>{{ invitee_masked_email }}</strong>
                    {% endblocktranslate %}
                  </p>
                  <a href="{% url "login" %}?next={% url "user_invites" %}" class="btn btn-primary btn-lg">{% translate "Log in" %}</a>
                {% endif %}
              {% else %}
                <p>
                  {% blocktranslate trimmed %}
                    To accept the invitation, you must create an account on Parsifal
                  {% endblocktranslate %}
                </p>
                <p>
                  <a href="{% url "signup" %}?invite={{ invite.code }}" class="btn btn-primary btn-lg">{% translate "Sign up" %}</a>
                </p>
                <small class="text-muted">{% blocktranslate %}This invitation was sent to <strong>{{ invitee_masked_email }}</strong>{% endblocktranslate %}</small>
              {% endif %}
            </div>
          </div>

        </div>
      </div>


    </div>
    <div class="push"></div>
  </div>
  {% include 'includes/footer.html' %}
{% endblock %}
