{% extends "base.html" %}

{% load crispy_forms_filters i18n parsifal_invites static %}

{% block title %}{% trans "Delete invite" %} · {{ review.title }}{% endblock %}

{% block content %}
  {% include "reviews/review_header.html" %}
  <div class="row">
    <div class="col-md-3">
      {% include "settings/includes/menu.html" with menu="manage_access" %}
    </div>
    <div class="col-md-9">

      <form method="post">
        {% csrf_token %}
        <p class="lead">
          {% blocktrans trimmed with invitee_email=invite.get_invitee_email %}
            Are you sure you want to delete the invite sent to <strong>{{ invitee_email }}</strong>?
          {% endblocktrans %}
        </p>
        <div>
          <button type="submit" class="btn btn-danger">{% trans "Yes, delete" %}</button>
          <a href="{% url "invites:manage_access" review.author.username review.name %}" class="btn btn-default">{% trans "Never mind" %}</a>
        </div>
      </form>

    </div>
  </div>
{% endblock content %}
