{% extends "base.html" %}

{% load crispy_forms_filters i18n static %}

{% block title %}{% trans "Manage Access" %} · {{ review.title }}{% endblock %}

{% block content %}
  {% include "reviews/review_header.html" %}
  <div class="row">
    <div class="col-md-3">
      {% include "settings/includes/menu.html" with menu="manage_access" %}
    </div>
    <div class="col-md-9">

      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="page-header">{% trans "Invite someone to collaborate" %}</h3>
          <div class="alert alert-info">
            {% trans "Pick someone from your contact list or inform the person email address." %}
          </div>
          <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">{% trans "Send invitation" %}</button>
          </form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Invitations" %}</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>{% trans "Invitee" %}</th>
              <th>{% trans "Date sent" %}</th>
              <th>{% trans "Invited by" %}</th>
              <th>{% trans "Status" %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for invite in invites %}
              <tr>
                <td>{{ invite.get_invitee_email }}</td>
                <td>{{ invite.date_sent|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td>{{ invite.invited_by.profile }}</td>
                <td>{{ invite.get_status_display }}</td>
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock content %}
