.users-menu {
  float: left;
  width: 200px;
}

.users-menu nav a, .users-menu nav h3 {
  display: block;
  font-size: 1.4em;
  padding: .5em .6em;
  font-weight: 400;
  border-bottom: 1px solid #C2C2C2;
}

.users-menu nav a:last-child {
  border: none;
}

.users-menu nav a:hover {
  background: rgba(58, 61, 64, 0.05);
  text-decoration: none;
}

.users-menu nav h3 {
  font-weight: 600;
  padding: .8em .6em;
  background: #728A8B;
  color: #FFF3D0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 3px 6px 0 #4C5D5E inset;
  margin: 0;
}

.users-content {
  float: left;
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  padding-left: 20px;
}

.selected-picture {
  margin-top: 20px;
}

#modal-upload-picture {
  width: 600px;
  height: 500px;
  margin-left: -300px;
  margin-top: -250px;
}

#modal-upload-picture .modal-body {
  height: 400px;
}

.hidden-fields {
  display:none!important;
}