<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Parsifal - 403</title>
  <link rel="icon" type="image/png" href="/static/img/favico.png">
  <link href="/static/css/style_app.css" rel="stylesheet" media="screen">
  <link href="/static/css/error.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="details-wrapper">
    <h1>403</h1>
    <h2>Permission denied.<h2> 
    <h3>We think you should not be here.</h3>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/support/">Support</a></li>
  </ul>
  <p>© 2014 Parsifal Ltd.</p>
</body>
</html>