<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Parsifal - 500</title>
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favico.png">
  <link href="{{ STATIC_URL }}css/style_app.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/error.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="details-wrapper">
    <h1>500</h1>
    <h2>Hey! You crashed the application :(</h2>
    <h3>Something went wrong. That's all we know.</h3>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/support/">Support</a></li>
  </ul>
  <p>© 2014 Parsifal Ltd.</p>
</body>
</html>