<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Parsifal{% endblock %}</title>
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
  {% block head_extra %}
  {% endblock head_extra %}
</head>
<body>
  <header>
    <div class="wrapper clearfix">
      <h1><a href="/">Parsifal</a></h1>
      <nav>
        <a href="#">News</a>
        <a href="#">About</a>
        <a href="#">Help</a>
      </nav>
      <div class="signin">
        <a href="/signin/" class="btn btn-success" style="text-decoration: none">Sign in</a>
      </div>
    </div>
  </header>
  <section class="content">
    <div class="wrapper clearfix">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <a href="#" class="pull-right" onclick="$(this).closest('div').fadeOut(); return false;">×</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
  </section>
  {% block footer %}
  {% endblock footer %}
  <footer>
    <div class="wrapper clearfix">
      <p>© 2014 Parsifal Ltd.</p>
      <ul>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookie Policy</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>