<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Library</h3>
  </div>
  <ul class="list-group" id="files">

  </ul>
  <div id="progress" class="progress" style="margin-bottom: 0; border-radius: 0;">
      <div class="progress-bar progress-bar-success"></div>
  </div>
  <div class="panel-footer">
    <span class="btn btn-primary fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <input id="fileupload" type="file" name="article_file" multiple>
    </span>
  </div>
</div>