{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% translate "Account settings" %}</h3>
  </div>
  <div class="list-group">
    <a href="{% url "settings:profile" %}" class="list-group-item{% if menu == "profile" %} active{% endif %}">{% translate "Profile" %}</a>
    <a href="{% url "settings:emails" %}" class="list-group-item{% if menu == "emails" %} active{% endif %}">{% translate "Emails" %}</a>
    <a href="{% url "settings:picture" %}" class="list-group-item{% if menu == "picture" %} active{% endif %}">{% translate "Picture" %}</a>
    <a href="{% url "settings:language" %}" class="list-group-item{% if menu == "language" %} active{% endif %}">{% translate "Language" %}</a>
    <a href="{% url "password_change" %}" class="list-group-item{% if menu == "password" %} active{% endif %}">{% translate "Password" %}</a>
  </div>
</div>
