ul.review-menu {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #C2C2C2;
  background: #F5F5F5;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  background: -o-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  font-size: 0;
}

ul.review-menu li {
  display: inline-block;
  list-style: none;
  padding: 0;
  font-size: 14px;
  border-bottom: 3px solid #CCCCCC;
  border-right: 1px solid #C2C2C2;
}

ul.review-menu li:first-child {
  border-bottom-left-radius: 5px;
}

ul.review-menu li a {
  display: block;
  padding: .8em 1.6em;
  font-weight: 600;
  color: #3A3D40;
}

ul.review-menu li a:hover {
  text-decoration: none;
}

ul.review-menu li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.review-menu li:hover {
  background: #F5F5F5;
}

ul.review-menu li.active {
  background: #F5F5F5;
  color: #666B71;
  border-bottom: 3px solid #AC4539;
}

.add-author-input span {
  color: #999;
  margin-left: 5px;
}

.add-author-input input {
  font-size: 1em;
}

span.main-author-label {
  color: #94A390;
  font-weight: 400;
  font-size: 0.9em;
}