#tbl-sources {
  width: auto;
}

#tbl-sources tbody tr td {
  padding: 0.4em 0.6em;
}

#tbl-sources tbody tr td input {
  font-size: 1em;
}

#tbl-keywords {
  width: auto;
}

#tbl-keywords tbody tr td {
  vertical-align: middle;
}

#tbl-keywords ul {
  margin: 5px 0;
}

#tbl-keywords ul li {
  list-style: none;
  font-size: 1em;
}

#tbl-keywords input {
  font-size: 1em;
}

.criteria-container-right {
  padding-left: 15px;
}

.criteria-container-left {
  padding-right: 15px;
}

div[class^="criteria-container"] {
  float: left;
  width: 50%;
}

div[class^="criteria-container"] input {
  width: 100%;
}

div[class^="criteria-container"] select {
  width: 100%; 
  margin: 10px 0;
}

#tbl-data-extraction {
  width: auto;
}

#tbl-data-extraction tbody tr td input {
  font-size: 1em;
}

#tbl-data-extraction tbody tr td select {
  font-size: 1em;
}

#tbl-data-extraction tbody tr td textarea {
  font-size: 1em;
}

#tbl-data-extraction tbody tr td ul {
  margin: 0;
}

#tbl-data-extraction tbody tr td ul li {
  font-size: 1em;
  list-style: none;
}

.no-select-field p, .select-field p {
  font-size: .8em;
  margin: .7em 0;
}

#tbl-quality-questions {
  width: 600px; 
  margin-bottom: 30px;
}

#tbl-quality-questions input {
  font-size: 1em;
}

#tbl-quality-answers {
  width: auto;
  margin-bottom: 30px;
}

#tbl-quality-answers input {
  font-size: 1em;
}

.authors-assignment {
  margin-top: 20px;
}

#tbl-cutoff-score {
  width: auto;
  border-top: 1px solid #AAAAAA;
}

#tbl-cutoff-score input {
  font-size: 1em;
}

#question-form ul {
  margin: 10px 20px 0;
}

#question-form ul li {
  font-size: 16px;
  line-height: 30px;
}

#question-form ul li label {
  font-weight: 600;
}

#question-form ul li ul {
  margin: 5px 0 0 25px;
}

#question-form ul li ul li {
  border-bottom: none;
  list-style-type: disc;
}

#question-form ul li ul li ul li {
  list-style-type: circle;
}

#question-form span.question-buttons {
  margin-left: 10px;
  float: right;
}

#question-form input {
  font-size: 14px;
  width: 80%;
}