#tbl-sources {
  width: auto;
}

#tbl-sources tbody tr td {
  padding: 0.4em 0.6em;
}

#tbl-sources tbody tr td input {
  font-size: 1em;
}

#tbl-keywords {
  width: auto;
}

#tbl-keywords tbody tr td {
  vertical-align: middle;
}

#tbl-keywords ul {
  margin: 5px 0;
}

#tbl-keywords ul li {
  list-style: none;
  font-size: 1em;
}

#tbl-keywords input {
  font-size: 1em;
}

.criteria-container-right {
  padding-left: 15px;
}

.criteria-container-left {
  padding-right: 15px;
}

div[class^="criteria-container"] {
  float: left;
  width: 50%;
}

div[class^="criteria-container"] input {
  width: 100%;
}

div[class^="criteria-container"] select {
  width: 100%; 
  margin: 10px 0;
}

#tbl-data-extraction {
  width: auto;
}

#tbl-data-extraction tbody tr td input {
  font-size: 1em;
}

#tbl-data-extraction tbody tr td select {
  font-size: 1em;
}

#tbl-data-extraction tbody tr td textarea {
  font-size: 1em;
}

#tbl-data-extraction tbody tr td ul li {
  font-size: 1em;
}

.no-select-field p, .select-field p {
  font-size: .8em;
  margin: .7em 0;
}

#tbl-quality-questions {
  width: auto; 
  margin-bottom: 30px;
}

#tbl-quality-questions input {
  font-size: 1em;
}