{% extends 'base_app.html' %}

{% block title %}Parsifal - Reporting{% endblock %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock head_extra %}

{% block content %}
  {% include "reviews/review_header.html" with active_menu="reporting" %}

    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);

      function drawPieChart(rows) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Source');
        data.addColumn('number', 'Number of Aticles');
        data.addRows(rows);
        var options = {'height':400, 'backgroundColor':'#F6F6F6'};
        var chart = new google.visualization.PieChart(document.getElementById('articles-selection-pie'));
        chart.draw(data, options);
      }

      function drawColumnChart(rows) {
        var data = google.visualization.arrayToDataTable(rows);
        var options = {
          vAxis: {title: 'Sources',  titleTextStyle: {color: '#3A3D40'}},
          'backgroundColor':'#F6F6F6',
          'height':400
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('articles-selection-column'));
        chart.draw(data, options);
      }

      function drawChart() {
        $.ajax({
          url: '/reviews/reporting/articles_selection_chart/',
          data: {'review-id': $("#review-id").val()},
          type: 'get',
          cache: false,
          beforeSend: function () {
            $("#articles-selection").loading();
          },
          success: function (data) {
            var source_data = data.split(",");
            var rows_pie = [];
            var rows_chart = [['Source', 'Selected', 'Accepted']];
            for (var i = source_data.length - 1; i >= 0; i--) {
              row = source_data[i].split(":");
              rows_pie.push([row[0], parseInt(row[1])]);
              rows_chart.push([row[0], parseInt(row[1]), parseInt(row[2])]);
            };
            drawPieChart(rows_pie);
            drawColumnChart(rows_chart);
          }
        });
      }
    </script>

    <section>
      <h2>Number of Articles per Source</h2>
      <div id="articles-selection-pie"></div>
    </section>
    <hr>
    <section>
      <h2>Number of Accepted Articles per Source</h2>
      <div id="articles-selection-column"></div>
    </section>
{% endblock content %}