{% extends 'base_app.html' %}

{% block title %}Parsifal - Reporting{% endblock %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/reporting.js"></script>
{% endblock head_extra %}

{% block content %}
  {% include "reviews/review_header.html" with active_menu="reporting" %}
    <section>
      <h2>Articles Per Source</h2>
      <div id="articles-selection-pie"></div>
    </section>
    <hr>
    <section>
      <h2>Accepted Articles Per Source</h2>
      <div id="articles-selection-column"></div>
    </section>
    <hr>
    <section>
      <h2>Final Articles Per Year <small>(After study selection and quality assessment)</small></h2>
      <div id="articles-selection-line"></div>
    </section>
{% endblock content %}