{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/conducting.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/conducting.js"></script>
{% endblock head_extra %}

{% block content %}
  {% include "reviews/review_header.html" with active_menu="conducting" %}
  {% if review.sources.all %}
    <ul class="tab" id="source-tab">
      {% for source in review.sources.all %}
        <li><a href="#">{{ source.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Use the <a href="/{{ review.author.username }}/{{ review.name }}/planning/">planning</a> tab to add sources to your review and import the references.</p>
  {% endif %}
  <div class="articles clearfix">
    <button type="button" class="btn btn-success pull-right">Save Search String</button>
    <h2>Search String <small>(This is a suggested search string based on your keywords and synonyms)</small></h2>
    <textarea style="width:100%" rows="5"></textarea>
    <div class="source-buttons">
      <button type="button" class="btn btn-import-bibtex">Import BibTeX</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Title</th>
          <th>Author</th>
          <th>Journal</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr>
            <td></td>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.journal }}</td>
            <td>{{ article.year }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}