{% extends 'base.html' %}

{% block head_extra %}
  <!--link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" media="screen"-->
{% endblock head_extra %}

{% block content %}
  <div class="page-header">
    <h1>Systematic Literature Reviews</h1>
  </div>
  <a href="/reviews/new/" class="btn btn-success pull-right" style="margin-bottom:20px;"><i class="icon-file icon-white"></i> New review</a>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/reviews/review/">Effort Estimation in Software Product Line</a></td>
        <td>Freitas, David, Kalinowski</td>
        <td>26/07/2013</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/reviews/review/">Effort Estimation in Software Product Line</a></td>
        <td>Freitas, David, Kalinowski</td>
        <td>26/07/2013</td>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endblock content %}