{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>Create a New Review</h1>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="input-short-name" class="col-lg-2 control-label">Short Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="input-short-name" placeholder="Short Name">
      </div>
    </div>
    <div class="form-group">
      <label for="input-title" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="input-title" placeholder="Title">
      </div>
    </div>
    <div class="form-group">
      <label for="input-authors" class="col-lg-2 control-label">Authors</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="input-authors" placeholder="Authors">
      </div>
    </div>
    <div class="form-group">
      <label for="input-description" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea class="form-control" id="input-description" rows="5" placeholder="Description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-offset-2 col-lg-10">
        <button type="submit" class="btn btn-success">Create review</button>
      </div>
    </div>
  </form>
{% endblock content %}