{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/planning.js"></script>
{% endblock head_extra %}

{% block content %}
  <ul class="review-menu">
    <li><a href="/{{ review.user.username }}/{{ review.short_name }}/">{{ review.short_name }}</a></li>
    <li class="active"><a href="/{{ review.user.username }}/{{ review.short_name }}/planning/">Planning</a></li>
    <li><a href="/{{ review.user.username }}/{{ review.short_name }}/conducting/">Conducting</a></li>
    <li><a href="/{{ review.user.username }}/{{ review.short_name }}/reporting/">Reporting</a></li>
  </ul>
  <button type="button" class="btn btn-success pull-right">Save Planning</button>
  <h1>{{ review.title }}</h1>
  <form method="post" action="." class="form-block">
    {% csrf_token %}
    <input type="hidden" id="review-id" value="{{ review.id }}">
    <div class="form-row">
      <h2>Objectives</h2>
      <textarea rows="5"></textarea>
    </div>
  </form>
  <hr>
  <h2>Questions</h2>
  <form method="post" action="." class="form-block">
    {% csrf_token %}
    <div class="form-row">
      <div class="label-container">
        <label for="">Main Question</label>
      </div>
      <div class="input-container">
        <textarea rows="2"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="label-container">
        <label for="population">Population</label>
      </div>
      <div class="input-container">
        <input type="text" id="population" name="population" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="label-container">
        <label for="">Intervention</label>
      </div>
      <div class="input-container">
        <input type="text" id="" name="" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="label-container">
        <label for="">Comparison</label>
      </div>
      <div class="input-container">
        <input type="text" id="" name="" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="label-container">
        <label for="">Outcome</label>
      </div>
      <div class="input-container">
        <input type="text" id="" name="" placeholder="">
      </div>
    </div>
  </form>

  <hr>
  
  <h2>Sources</h2>
  <button type="button" class="btn btn-success btn-small" id="btn-add-source">Add Source</button>
  <table class="table" id="tbl-sources">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Scopus</td>
        <td>http://www.scopus.com</td>
        <td><a href="#">edit</a> <a href="#" class="text-error">remove</a></td>
      </tr>
      <tr>
        <td>Science@Direct</td>
        <td>http://www.sciencedirect.com</td>
        <td><a href="#">edit</a> <a href="#" class="text-error">remove</a></td>
      </tr>
    </tbody>
  </table>
{% endblock content %}