{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/planning.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/planning.js"></script>
{% endblock head_extra %}

{% block content %}
  {% include "reviews/review_header.html" with active_menu="planning" %}
  <section id="objective-section" class="clearfix">
    <h2>Objectives</h2>
    <form method="post" action="." class="form-block">
      {% csrf_token %}
      <div class="form-row">
        <textarea rows="5"></textarea>
      </div>
    </form>
  </section>
  <hr>
  <section id="question-section" class="clearfix">
    <h2>Questions</h2>
    <button type="button" class="btn btn-small" id="btn-add-sec-question">Add Secondary Question</button>
    <div class="questions-containers">
      {% include "reviews/planning_question.html" with prefix="main-" question_type="M" question=review.get_main_question %}
      {% for question in review.get_secondary_questions %}
        {% include "reviews/planning_question.html" with prefix=question.id question_type="S" question=question %}
      {% endfor %}
    </div>
  </section>
  <hr>
  <section id="keywords-section" class="clearfix">
    <h2>Keywords and Synonyms</h2>
    <p>Inform a keyword and press Enter to add.</p>
    <table class="table" id="tbl-keywords">
      <thead>
        <tr>
          <th>Keyword</th>
          <th>Synonyms</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>software product line</td>
          <td>
            <ul>
              <li>product line</li>
              <li>spl</li>
              <li>software product family</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <hr>
  <section id="sources-section" class="clearfix">
    <h2>Sources</h2>
    <div class="modal" id="modal-suggested-sources">
      <div class="modal-header">
        <a href="#" class="close" onclick="$(this).closest('div.modal').slideUp();return false;">×</a>
        <h2>Suggested Sources</h2>
      </div>
      <div class="modal-body">
        <form>
          <label class="checkbox"><input type="checkbox">Scopus</label>
          <label class="checkbox"><input type="checkbox">ACM</label>
          <label class="checkbox"><input type="checkbox">Science@Direct</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-warning">Cancel</button>
      </div>
    </div>
    <button type="button" class="btn btn-small" id="btn-add-source">Add Source</button>
    <button type="button" class="btn btn-link btn-small" style="margin-left: 8px;" id="btn-suggested-sources">(Suggested Sources)</button>
    <table class="table" id="tbl-sources">
      <thead>
        <tr>
          <th style="width: 200px">Name</th>
          <th style="width: 300px">URL</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for source in review.sources.all %}
          <tr source-id="{{ source.id }}">
            <td>{{ source.name }}</td>
            <td>{{ source.url }}</td>
            <td><button type="button" class="btn btn-small">edit</button> <button type="button" class="btn btn-warning btn-small btn-remove-source">remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <hr>
  <section id="selection-section" class="clearfix">
    <h2>Selection Criteria</h2>
    <script>
      $(function () {
        $("input#input-inclusion").keyup(function (event) {
          if (event.keyCode == 13) {
            if ($(this).val() != ""){
              $("#inclusion-criteria").append("<option>" + $(this).val() + "</option>");
              $(this).val("");
              $("input#input-inclusion").focus();
            }
          }
        });

        $("input#input-exclusion").keyup(function (event) {
          if (event.keyCode == 13) {
            if ($(this).val() != ""){
              $("#exclusion-criteria").append("<option>" + $(this).val() + "</option>");
              $(this).val("");
              $("input#input-exclusion").focus();
            }
          }
        });

      });
    </script>
    <p>Inform your inclusion or exclusion criteria and press <strong>Enter</strong> to add.</p>
    <div style="width:50%;float:left;padding-right:15px;">
      <h3>Inclusion Criteria:</h3>
      <input type="text" id="input-inclusion" style="width:100%">
      <select multiple="multiple" size="6" style="width: 100%; margin: 10px 0;" id="inclusion-criteria"></select>
      <button type="button" class="btn btn-warning btn-small">remove selected</button>
    </div>
    <div style="width:50%;float:left;padding-left:15px;">
      <h3>Exclusion Criteria:</h3>
      <input type="text" id="input-exclusion" style="width:100%">
      <select multiple="multiple" size="6" style="width: 100%; margin: 10px 0;" id="exclusion-criteria"></select>
      <button type="button" class="btn btn-warning btn-small">remove selected</button>
    </div>
  </section>
{% endblock content %}