{% extends 'base.html' %}

{% block head_extra %}
{% endblock head_extra %}

{% block content %}
  <h1>Systematic Literature Reviews</h1>
  <a href="/reviews/new/" class="btn pull-right" style="margin-bottom: 1em;">New review</a>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/reviews/review/">Effort Estimation in Software Product Line</a></td>
        <td>Freitas, David, Kalinowski</td>
        <td>26/07/2013</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/reviews/review/">Effort Estimation in Software Product Line</a></td>
        <td>Freitas, David, Kalinowski</td>
        <td>26/07/2013</td>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endblock content %}