{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ page_user.profile.get_screen_name }} · Parsifal{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/activities.js' %}?_=1"></script>
{% endblock javascript %}

{% block content %}
    <div class="media" style="margin-bottom: 20px;">
      <div class="media-left">
        <a href="{% url 'reviews' page_user.username %}">
          <img class="media-object img-circle" src="{{ page_user.profile.get_picture }}" alt="{{ page_user.profile.get_screen_name }}" style="width: 100px; height: 100px;">
        </a>
      </div>
      <div class="media-body media-middle">
        <div class="row">
          <div class="col-sm-12">
              <h2 class="media-heading">
                {{ page_user.get_full_name }}
                {% if user.is_authenticated %}
                  {% if user.id == page_user.id %}
                    <a href="{% url 'settings:settings' %}" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-pencil"></span>
                      Edit profile
                    </a>
                  {% else %}
                    {% if is_following %}
                      <span class="user-actions following update-count" data-user-id="{{ page_user.id }}">
                        <button class="btn btn-danger btn-xs" type="button"><span class="glyphicon glyphicon-remove"></span> Unfollow</button>
                      </span>
                    {% else %}
                      <span class="user-actions not-following update-count" data-user-id="{{ page_user.id }}">
                        <button class="btn btn-success btn-xs" type="button"><span class="glyphicon glyphicon-ok"></span> Follow</button>
                      </span>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h5 style="margin-top: 5px;">
            {% if page_user.is_staff %}<span class="label label-primary" style="margin-right: 10px;">STAFF</span>{% endif %}
            <a href="{% url 'followers' page_user.username %}">
              Followers
              <span class="followers-count">{{ followers_count }}</span>
            </a>
            <span style="margin-left: 5px; margin-right: 5px; color: #aaa;">•</span>
            <a href="{% url 'following' page_user.username %}">
              Following
              <span class="following-count">{{ following_count }}</span>
            </a>
            </h5>
          </div>
        </div>
        <div class="row" style="color: #aaa;">
          <div class="col-sm-6">
            <span class="glyphicon glyphicon-user"></span> {{ page_user.username }} 
            {% if page_user.profile.public_email %}<span class="glyphicon glyphicon-envelope" style="margin-left: 10px;"></span> {{ page_user.profile.public_email }}{% endif %}
            {% if page_user.profile.url %}<span class="glyphicon glyphicon-globe" style="margin-left: 10px;"></span> <a href="{{ page_user.profile.get_url }}" target="_blank">{{ page_user.profile.get_url }}</a>{% endif %}
          </div>
          <div class="col-sm-6 text-right">
            {% if page_user.profile.institution %}<span class="glyphicon glyphicon-education"></span> {{ page_user.profile.institution }}{% endif %}
            {% if page_user.profile.location %}<span class="glyphicon glyphicon-map-marker" style="margin-left: 10px;"></span> {{ page_user.profile.location }}{% endif %}
            <span class="glyphicon glyphicon-time" style="margin-left: 10px;"></span> Joined on {{ page_user.date_joined|date:"d M Y" }}
          </div>
        </div>
      </div>
    </div>

    {% if user.id == page_user.id %}
      <div style="margin-bottom: 20px;">
        <a href="{% url 'reviews:new' %}" class="btn btn-primary">New review</a>
      </div>
      {% if user_reviews %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Work in progress</h3>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Last update</th>
              </tr>
            </thead>
            <tbody>
              {% for review in user_reviews %}
                <tr>
                  <td><a href="/{{ review.author.username }}/{{ review.name }}/">{{ review.title }}</a></td>
                  <td>
                    <a href="{% url 'reviews' review.author.username %}">{{ review.author.profile.get_screen_name }}</a>{% for author in review.co_authors.all %}, <a href="/{{ author.username }}/">{{ author.profile.get_screen_name }}</a>{% endfor %}
                  </td>
                  <td>{{ review.last_update|date:"D d M Y" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>  
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Published reviews</h3>
          </div>
          <div class="panel-body">You haven't published any systematic literature review yet.</div>
        </div>
      {% else %}
        <div class="well text-center" style="padding: 5em;">
          <span class="glyphicon glyphicon-book" style="font-size: 2.6em; color: #aaa;"></span>
          <h3 style="margin-top: 25px; margin-bottom: 25px;">You don't have any systematic literature review yet.</h3>
          <a href="{% url 'reviews:new' %}" class="btn btn-primary">Start a review</a>
        </div>
      {% endif %}
    {% else %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Published reviews</h3>
        </div>
        <div class="panel-body">{{ page_user.profile.get_screen_name }} haven't published any systematic literature review yet.</div>
      </div>
    {% endif %}

{% endblock content %}