{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/reviews.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <div class="clearfix">
    <div class="reviews">
      {% if user.username == page_user.username %}
        <a href="/reviews/new/" class="btn btn-success">New review</a>
      {% else %}
        <button type="button" class="btn">Follow {{ page_user.username }}</button>
      {% endif %}
      {% if user_reviews %}
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Authors</th>
              <th>Last update</th>
            </tr>
          </thead>
          <tbody>
            {% for review in user_reviews %}
              <tr>
                <td><a href="/{{ page_user.username }}/{{ review.short_name }}/">{{ review.title }}</a></td>
                <td>{{ review.user__first_name }}</td>
                <td>{{ review.last_update }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="container">
          <h2>You don't have any systematic literature review yet.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      {% endif %}
    </div>
    <div class="profile">
      <div class="picture">
        <img src="{{ STATIC_URL }}img/user.png" width="200px" height="200px">
      </div>
      <ul>
        <li class="full-name">{{ page_user.get_full_name }}</li>
        <li class="username">{{ page_user.username }}</li>
        <li>{{ page_user.email }}</li>
        <li class="divider"></li>
        <li>Juiz de Fora, Brazil</li>
        <li>Universidade Federal de Juiz de Fora</li>
      </ul>
    </div>
  </div>
{% endblock content %}