{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
{% endblock head_extra %}

{% block content %}
  <ul class="review-menu">
    <li class="active"><a href="#">Planning</a></li>
    <li><a href="#">Conducting</a></li>
    <li><a href="#">Reporting</a></li>
  </ul>
  <h1>{{ review.title }}</h1>
  <div class="container">
    <h2>Authors <button type="button" class="add-author">+ add</button></h2>
    <ul class="authors">
      <li>{{ review.user.get_full_name }}</li>
      {% for author in review.co_authors.all %}
        <li>{{ author.get_full_name }} <button type="button" class="remove-author">× remove</button></li>
      {% endfor %}
    </ul>
    <h2>Description</h2>
    <p>{{ review.description }}</p>
  </div>
{% endblock content %}