{% extends 'base_app.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
{% endblock head_extra %}

{% block content %}
  {% include "reviews/review_header.html" %}
  <section class="clearfix">
    <h2>Settings</h2>
    <form class="form-block">
      <div class="form-row">
        <div class="label-container">
          <label for="review-name">Name</label>
        </div>
        <div class="input-container">
          <input value="{{ review.name }}">
        </div>
      </div>
      <div class="form-row">
        <div class="label-container">
          <label for="review-title">Title</label>
        </div>
        <div class="input-container">
          <input value="{{ review.title }}">
        </div>
      </div>
      <div class="form-row">
        <div class="button-container">
          <button type="button" class="btn btn-success pull-left">Save</button>
        </div>
      </div>
    </form>
    <hr>
    <form class="form-block">
      <div class="form-row">
        <div class="label-container">
          <label for="">Delete this review</label>
        </div>
        <div class="input-container">
          <button type="button" class="btn btn-warning">Delete</button>
        </div>
      </div>
        <div class="label-container">
          <label for="">Transfer ownership</label>
        </div>
        <div class="input-container">
          <button type="button" class="btn">Transfer</button>
        </div>
      </div>
    </form>
  </section>
{% endblock content %}