.btn {
  border: 1px solid #516465;
  border-radius: 5px;
  cursor: pointer;
  background-color: #728A8B;
  color: #FFF3D0;
  font-size: 14px;
  padding: 6px 12px;
  box-shadow: 0px 3px 5px 0px #516465 inset;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.4em;
}

.btn-large {
  font-size: 18px;
  line-height: 1.6em;
}

.btn-success {
  background-color: #94A390;
  border-color: #758373;
  box-shadow: 0px 3px 5px 0px #758373 inset;
}

.btn-success:hover {
  border-color: #94A390;
  box-shadow: 0px 3px 5px 0px #94A390 inset;
  background-color: #A9BBA5;
}

.btn-warning {
  border-color: #732B22;
  background: #C45A46;
  box-shadow: 0px 3px 5px 0px #732B22 inset;
}