.modal {
  width: 480px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1010;
  margin-left: -240px;
  margin-top: -200px;
  background: #F9F9F9;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  display: none;
}

.modal .modal-header {
  font-weight: 600;
  background: #728A8B;
  color: #FFF3D0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0 3px 6px 0 #4C5D5E inset;
  height: 45px;
  padding: 12px 15px 0;
}

.modal .modal-body {
  height: 300px;
  overflow-y: auto;
  padding: 10px 15px;
}

.modal .modal-footer {
  height: 55px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #EEE;
  text-align: right;
  padding: 10px 15px 0;
}

.modal .modal-header h2 {
  margin: 0;
}

.modal .modal-header a.close {
  font-size: 2em;
  color: #FFF3D0;
  float: right;
}