@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url(../fonts/playball-regular.woff2) format('woff2'), url(../fonts/playball-regular.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(../fonts/merriweather.woff2) format('woff2'), url(../fonts/merriweather.woff) format('woff');
}

/* Parsifal base */

html, body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

header .navbar {
  margin-bottom: 0;
  border-radius: 0;
}

header .navbar .username-divider {
  border-right: 1px solid #ccc;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.masthead {
  background-color: #fafafa;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  color: #777;
  padding: 70px 0;
}

.masthead h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;
  font-size: 42px;
}

.masthead p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

main {
  margin-top: 20px;
}

footer {
  border-top: 1px solid #E7E7E7;
  height: 50px;
  background-color: #fff;
}

footer .legal {
  padding-top: 14px;
}

footer ul li {
  display: inline;
  margin-right: 15px;
}

footer .social {
  padding-top: 10px;
  font-size: 20px;
  text-align: right;
}

footer .social a {
  color: #777;
  margin-left: 10px;
  transition: all 0.2s ease 0s;
}

footer .social a:hover {
  color: #333;
}

article {
  font-size: 16px;
  margin-bottom: 20px;
}

article .table, article .alert {
  font-size: 14px;
}

.references {
  font-size: 14px;
}

.no-scroll {
  overflow: hidden;
}

.page-loading {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9000;
  display: none;
}

.page-loading .spinner {
  width: 70px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -35px;
  position: fixed;
  text-align: center;
  z-index: 9001;
}

.page-loading .spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page-loading .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.page-loading .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.block-spinner {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.not-allowed {
  cursor: not-allowed;
}

#library-documents {
  font-size: 12px;
  margin-bottom: 0;
}

#library-documents .bg-warning:hover {
  background-color: #fcf8e3;
}

#library-menu div.list-group a.list-group-item.active {
  background-color: transparent;
  color: #555;
  border-color: #ddd;
  border-left: 2px solid #df5e00;
  padding-left: 13px;
  cursor: default;
}

#library-toolbar .dropdown-menu {
  font-size: 12px;
}

#library-documents tbody tr td.empty-library {
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#library-documents tbody tr td.empty-library > .glyphicon {
  color: #aaa;
  font-size: 28px;
}

a.library-documents-indexes,
a.library-documents-indexes:hover,
a.library-documents-indexes:active  {
  color: #333;
}

/* Parsifal cover */

.cover {
  padding-top: 60px; 
  padding-bottom: 80px;
}

.cover h1 {
  font-size: 64px; 
  margin-bottom: 30px;
}

section.features {
  background-color: #e7e7e7;
  text-align: center;
}

section.features article {
  padding: 20px 0;
  border-bottom: 1px solid #f8f8f8;
}

section.features article:last-child {
  border-bottom: none;
}

section.features article span.glyphicon {
  font-size: 44px;
  color: #ccc;
  margin: 10px 0;
}

/* Parsifal reviews app */

.review-title {
  margin-top: 0; 
  margin-bottom: 20px; 
  line-height: 1.42857;
}

.review-title span.text-muted {
  font-weight: normal;
}

.review-title-user {
  font-weight: 300;
}

ul.review-menu {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #C2C2C2;
  background: #F5F5F5;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  background: -o-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  font-size: 0;
}

ul.review-menu li {
  display: inline-block;
  list-style: none;
  padding: 0;
  font-size: 14px;
  border-bottom: 3px solid #CCCCCC;
  border-right: 1px solid #C2C2C2;
}

ul.review-menu li:first-child {
  border-bottom-left-radius: 5px;
}

ul.review-menu li a {
  display: block;
  padding: .8em 1.6em;
  font-weight: 600;
  color: #3A3D40;
}

ul.review-menu li a:hover {
  text-decoration: none;
}

ul.review-menu li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.review-menu li:hover {
  background: #F5F5F5;
}

ul.review-menu li.active {
  background: #F5F5F5;
  color: #666B71;
  border-bottom: 3px solid #AC4539;
}

#protocol.affix-top {
  position: relative;
}

#protocol.affix {
  top: 20px;
}

#protocol.affix, 
#protocol.affix-bottom {
  width: 213px;
}

#protocol.affix-bottom {
  position: absolute;
}

@media (min-width:992px) {
  #protocol.affix, 
  #protocol.affix-bottom {
    width: 293px;
  }
}

@media (min-width:1200px) {
  #protocol.affix, 
  #protocol.affix-bottom {
    width: 263px;
  }
}

#tbl-quality td.answer {
  cursor: pointer;
  text-align: center;
  width: 100px;
  transition: all 0.2s ease 0s;
}

#tbl-quality td.answer:hover {
  background-color: #f5f5f5;
}

#tbl-quality td.selected-answer {
  background-color: #337ab7!important;
  color: #fff;
}

#remote-search-panels .panel-collapse .panel-body {
  max-height: 400px;
  overflow-y: auto;
}

#remote-search-panels .panel-collapse .panel-body .table {
  font-size: 12px;
}

.btn-ajax-loading, .btn-ajax-error, .btn-ajax-complete {
  display: none;
}

.data-extraction-panel .form-group:last-child {
  margin-bottom: 0;
}

/* Selectize options */

.selectize-control.contacts .selectize-input > div {
  padding: 1px 10px;
  font-size: 13px;
  font-weight: normal;
  -webkit-font-smoothing: auto;
  color: #f7fbff;
  text-shadow: 0 1px 0 rgba(8,32,65,0.2);
  background: #337AB7;
  background: -moz-linear-gradient(top, #2183f5 0%, #1d77f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2183f5), color-stop(100%,#1d77f3));
  background: -webkit-linear-gradient(top,  #2183f5 0%,#1d77f3 100%);
  background: -o-linear-gradient(top,  #2183f5 0%,#1d77f3 100%);
  background: -ms-linear-gradient(top,  #2183f5 0%,#1d77f3 100%);
  background: linear-gradient(to bottom,  #2183f5 0%,#1d77f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183f5', endColorstr='#1d77f3',GradientType=0 );
  border: 1px solid #0f65d2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.selectize-control.contacts .selectize-input > div.active {
  background: #0059c7;
  background: -moz-linear-gradient(top, #0059c7 0%, #0051c1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0059c7), color-stop(100%,#0051c1));
  background: -webkit-linear-gradient(top,  #0059c7 0%,#0051c1 100%);
  background: -o-linear-gradient(top,  #0059c7 0%,#0051c1 100%);
  background: -ms-linear-gradient(top,  #0059c7 0%,#0051c1 100%);
  background: linear-gradient(to bottom,  #0059c7 0%,#0051c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059c7', endColorstr='#0051c1',GradientType=0 );
  border-color: #0051c1;
}
.selectize-control.contacts .selectize-input > div .email {
  opacity: 0.8;
}
.selectize-control.contacts .selectize-input > div .name + .email {
  margin-left: 5px;
}
.selectize-control.contacts .selectize-input > div .email:before {
  content: '<';
}
.selectize-control.contacts .selectize-input > div .email:after {
  content: '>';
}
.selectize-control.contacts .selectize-dropdown .caption {
  font-size: 12px;
  display: block;
  color: #a0a0a0;
}

/* Bootstrap overrides */

.navbar-default .navbar-brand {
  font-family: 'Playball', cursive;
  font-weight: 400;
  font-size: 2.4em;
}

.page-header {
  margin-top: 0;
}

.nav-tabs {
  margin-bottom: 20px;
}

.table-hover tbody tr td {
  cursor: pointer;
}

/* Bootstrap extension */

table.table-v-align-middle thead tr th, 
table.table-v-align-middle tbody tr td {
  vertical-align: middle;
}

/* Table sorter overrides */
th.header {
  cursor: pointer;
}

th.header:after {
  font-family: "Glyphicons Halflings";
  float: right;
  content: "\e150";
  font-weight: 300;
}

th.headerSortDown:after {
  font-family: "Glyphicons Halflings";
  float: right;
  content: "\e155";
  font-weight: 300;
}

th.headerSortUp:after {
  font-family: "Glyphicons Halflings";
  float: right;
  content: "\e156";
  font-weight: 300;
}

select optgroup {
  font-family: inherit;
  font-size: inherit;
  margin-left: 4px;
}

.announcement {
  background-color: #fcf8e3;
  border-top: 1px solid #faebcc;
  border-bottom: 1px solid #faebcc;
  color: #8a6d3b;
  padding: 10px;
}
