@import url(reset.css);
@import url(clearfix.css);
@import url(alert.css);
@import url(button.css);
@import url(table.css);
@import url(form.css);
@import url(typography.css);
@import url(modal.css);
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: url("../img/ticks.png");
  color: #3A3D40;
  font-family: "Source Sans Pro", Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

header {
  background: #3A3D40;
  height: 65px;
  border-bottom: 5px solid #732B22;
  position: fixed;
  width: 100%;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.7);
}

header h1 {
  font-family: Playball, cursive;
  font-size: 3.6em;
  float: left;
  padding-top: .4em;
  font-weight: 400;
  margin: 0;
}

header h1 a {
  color: #E6D9B8;
  text-decoration: none;
}

header h1 a:hover {
  text-shadow: 0 0 3px #E6D9B8;
}

header nav.menu {
  float: left;
  padding-top: 2.2em;
  padding-left: 5em;
}

header nav.menu a {
  padding: 0 1.2em;
  color: #E6D9B8;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}

header nav.menu a:hover {
  color: #FFF3D0;
}

header nav.signedin {
  padding-top: 2.2em;
  float: right;
}

header nav.signedin span.bullet {
  color: #E6D9B8;
  font-size: 1.6em;
  font-weight: bold;
}

header nav.signedin a {
  color: #E6D9B8;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 .7em;
  font-weight: bold;
}

header nav.signedin a:hover {
  color: #FFF3D0;
}

header nav.signedin a.user {
  font-size: 1.6em;
}

.wrapper {
  width: 100%;
  padding: 0 20px;
}

.content {
  padding: 90px 20px 20px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

footer {
  background-color: #4A1916;  
  height: 40px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.7);
}

footer p {
  padding-top: 1em;
  color: #FFF3D0;
  font-size: 1.4em;
  font-weight: 400;
  float: left;
  margin: 0;
}

footer ul {
  float: left;
  padding-top: 1.4em;
  padding-left: 2em;
}
footer ul li {
  display: inline;
  font-size: 1.2em;
  padding: 0 .7em;
}

footer ul li a {
  color: #FFF3D0;
  text-decoration: underline;
}

.push {
  height: 40px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.container {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #C2C2C2;
  border: 1px solid #C2C2C2;
  padding: 1em 1.5em;
  margin: 0 0 2em 0;
  background: #F9F9F9;
}

hr {
  border: none;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #EEE;
}

ul {
  margin-left: 20px;
}

ul li {
  font-size: 1.4em;
  padding: .2em 0;
  list-style: square;
}

ul.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px 0;
  list-style: none;
  background-color: #F9F9F9;
  border-radius: 4px;
}

ul.breadcrumb li {
  display: inline-block;
  font-size: 1.4em;
}

ul.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #CCCCCC;
  content: "/\00a0";
}

ul.breadcrumb > li.active {
  color: #999999;
}

ul.tab {
  font-size: 0;
  display: block;
  padding: 14px 0;
  border-bottom: 1px solid #C2C2C2;
  display: block;
  margin: 0 0 20px 0;
}

ul.tab li {
  list-style: none;
  display: inline;
  font-size: 14px;
  margin: 0;
  padding: 14px 0 12px;
}

ul.tab li a {
  padding: 14px 14px 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

ul.tab li a:hover {
  background: #F5F5F5;
}

ul.tab li.active a {
  color: #3A3D40;
  border: 1px solid #C2C2C2;
  border-bottom: none;
  background: url("../img/ticks.png");
}