.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #DDD;
}

.table td, .table th {
  border: 1px solid #DDD;
  font-size: 1.4em;
  padding: .4em .6em;
}

.table thead tr th {
  font-size: 1.6em;
  font-weight: 600;
}