h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
  margin-bottom: .5em;  
}

h2 {
  font-size: 2em;
  margin: 1em 0;
}

a {
  color: #55899B;
  text-decoration: none;
}

p {
  font-size: 1.4em;
  margin-bottom: .7em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}