{% extends 'base_app.html' %}

{% block title %}Parsifal - Review Settings{% endblock %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/review.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/review_settings.js"></script>
{% endblock head_extra %}

{% block content %}
  {% include "reviews/review_header.html" %}
  <section class="clearfix">
    <h2>Settings</h2>
    <form class="form-block">
      <div class="form-row">
        <div class="label-container">
          <label for="review-name">Name</label>
        </div>
        <div class="input-container">
          <input value="{{ review.name }}">
          <span class="help">The name will be used to create a unique url for your review. Make sure you choose something <strong>short</strong> and <strong>elegant</strong>.</span>
          <span class="help">It will look like http://parsif.al/{{user.username}}/<strong>example-review-name</strong>/</span>
        </div>
      </div>
      <div class="form-row">
        <div class="label-container">
          <label for="review-title">Title</label>
        </div>
        <div class="input-container">
          <input value="{{ review.title }}">
        </div>
      </div>
      <div class="form-row">
        <div class="button-container">
          <button type="button" class="btn btn-success pull-left btn-save-settings">Save</button>
        </div>
      </div>
    </form>
    <hr>
    <form class="form-block">
      <div class="form-row">
        <div class="label-container">
          <label for="">Delete this review</label>
        </div>
        <div class="input-container">
          <button type="button" class="btn btn-warning" id="btn-delete-review">Delete</button>
        </div>
      </div>
        <div class="label-container">
          <label for="">Transfer ownership</label>
        </div>
        <div class="input-container">
          <button type="button" class="btn btn-warning" id="btn-transfer-ownership">Transfer</button>
        </div>
      </div>
    </form>
  </section>
{% endblock content %}