{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Review Settings · {{ review.title }}{% endblock %}

{% block javascript %}
  <script>
    $(function () {
      $("#id_user").change(function () {
        if ($(this).val() !== "") {
          $("#confirm-transfer").prop("disabled", false);
        }
        else {
          $("#confirm-transfer").prop("disabled", true);
        }        
      });
      $("#enable-confirm-deletion").click(function () {
        if ($(this).is(":checked")) {
          $("#confirm-deletion").prop("disabled", false);
        }
        else {
          $("#confirm-deletion").prop("disabled", true);
        }
      });
    });
  </script>
{% endblock javascript %}

{% block content %}

  {% include 'reviews/review_header.html' %}

  <form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Review settings</h3>
      </div>
      <div class="panel-body">
        {% include 'form_vertical.html' with form=form %}
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </form>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Danger zone</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#transfer-review">Transfer</button>
        <p><strong>Transfer ownership</strong></p>
        <p style="margin-bottom: 0;">Transfer this review to another user.</p>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#delete-review">Delete</button>
        <p><strong>Delete this review</strong></p>
        <p style="margin-bottom: 0;">Once you delete a review, there is no going back. Please be certain.</p>
      </li>
    </ul>
  </div>

  <form method="post" action="{% url 'transfer_review' %}">
    {% csrf_token %}
    <input type="hidden" name="review-id" value="{{ review.pk }}">
    <div class="modal fade" id="transfer-review" tabindex="-1" role="dialog" aria-labelledby="transfer-review-title" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="transfer-review-title">Transfer ownership</h4>
          </div>
          <div class="modal-body">
            <label for="id_user" class="control-label">Select the new owner's name:</label>
            <select id="id_user" name="user"></select>
          </div>
          <div class="modal-footer">
            <button type="submit" id="confirm-transfer" class="btn btn-danger btn-block" disabled>Transfer ownership</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form method="post" action="{% url 'delete_review' %}">
    {% csrf_token %}
    <input type="hidden" name="review-id" value="{{ review.pk }}">
    <div class="modal fade" id="delete-review" tabindex="-1" role="dialog" aria-labelledby="delete-review-title" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="delete-review-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
            <p>This action <strong>CANNOT</strong> be undone. This will permanently delete the <strong>{{ review.title }}</strong> review and all associated data.</p>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="enable-confirm-deletion"> I understand the consequences.
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="confirm-deletion" class="btn btn-danger btn-block" disabled>Delete this review</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}