name: Parsifal CI

on:
  pull_request:
    branches:
    - master
    - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Set up Postgres
      run: |
        sudo apt-get update
        sudo apt-get -y install postgresql postgresql-contrib
        sudo service postgresql start
        sudo su - postgres -c "createuser richardwagner"
        sudo su - postgres -c "psql -c \"ALTER USER richardwagner WITH PASSWORD 'holygrail';\""
        sudo su - postgres -c "psql -c \"ALTER USER richardwagner WITH SUPERUSER;\""
        sudo su - postgres -c "createdb --owner richardwagner parsifal"
    - name: Set up Tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run Tox
      run: tox
