section.content {
  padding: 5em 0;
}

section.content h1 {
  font-size: 3.2em;
  font-weight: 600;
  line-height: 1.2em;
}

.content-left {
  float: left;
  width: 580px;
}

.content-right {
  float: left;
  width: 380px;
}

p.slogan {
  margin-top: 1.5em;
  font-size: .9em;
}

section.features {
  padding-top: 1em;
  width: 100%;
  background: -moz-linear-gradient(top, #57696A 0%, #738A8B 10%);
  background: -webkit-linear-gradient(top, #57696A 0%, #738A8B 10%);
  background: -o-linear-gradient(top, #57696A 0%, #738A8B 10%);
  color: #FFF3D0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

section.features article {
  padding: 2em 0;
  border-bottom: 1px solid #58696A;
}

section.features article:last-child {
  border: none;
}

section.features article h2 {
  font-size: 1.4em;
  font-weight: 600;
}

section.features article h2 ~ p {
  font-size: 0.9em;
  margin-top: 1em;
}

footer {
  box-shadow: none;
}