.last-updates {
  float: left;
  width: -moz-calc(100% - 350px);
  width: -webkit-calc(100% - 350px);
  width: calc(100% - 350px);
}

.last-updates ul {
  margin-left: 0;
}

.last-updates ul li {
  font-size: 1.4em;
  list-style: none;
  padding: .6em 0;
  border-bottom: 1px solid #DDD;
}

.user-reviews {
  float: left;
  width: 320px;
  margin-left: 30px;
}

.reviews nav a {
  display: block;
  font-size: 1.4em;
  padding: .5em .6em;
  font-weight: 400;
  border-bottom: 1px solid #C2C2C2;
}

.reviews nav p {
  font-size: 1.4em;
  padding: .5em .6em 0em;
}

.reviews nav a:last-child {
  border: none;
}

.reviews nav a:hover {
  background: rgba(58, 61, 64, 0.05);
  text-decoration: none;
}

.reviews nav h3 {
  font-weight: 600;
  padding: .8em .6em;
  background: #728A8B;
  color: #FFF3D0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 3px 6px 0 #4C5D5E inset;
  margin: 0;
}

.last-updates small {
  font-size: 0.8em;
}

.last-updates ul li {
  padding: 1.1em 0;
}