div.signup form input {
  font-size: 0.8em;
  margin-bottom: 1.2em;
}

div.signup form label {
  font-weight: 600;
  font-size: 1.0em;
}

div.signup h1.join {
  margin-bottom: 0.8em;
  font-size: 1.8em;
}