div.signup form input {
  font-size: 0.8em;
}

div.signup div.form-row {
  margin-bottom: 1.2em;
}

div.signup form label {
  font-weight: 600;
  font-size: 1.0em;
}

div.signup h1.join {
  margin-bottom: 0.8em;
  font-size: 1.8em;
}

div.signup div.form-row p.info {
  font-size: 0.7em;
  color: #A84635;
}